<script type="text/javascript">
  var wcloud_app_type = ""
  var userAgent = window.navigator.userAgent
  if (userAgent=="wcloud_app_ios")
    wcloud_app_type = "ios"
  else if (userAgent=="wcloud_app_android") 
    wcloud_app_type = "android"
  else 
  {
    window.location.href ="/error"
  }
</script>

 <div class="head-con">
	<a href="javascript:history.go(-1);" class="head-btn-l"><i class="head-btn icon icon_back"></i></a>
    <h1 class="head-title"><%=__('label.adminPwd')%></h1>
  </div>
  <div class="set-con below-head">
    <ul class="blank-bg"></ul>
    <ul class="set-con">
      <label class="desc-lbl desc-width"><%=__('label.oldPwd')%></label>
      <li class="text-con">
          <input class="text ime-mode-n hover text-width" maxLength="63" id="PwdOld" value="" />
        <i class="tip icon-eye" data-value="0"></i>
      </li>
    </ul>
    <ul class="set-con">
      <label class="desc-lbl desc-width"><%=__('label.newPwd')%></label>
      <li class="text-con">
          <input class="text ime-mode-n hover text-width" maxLength="63" id="PwdNew" value="" placeholder="<%=__('label.pwdLenTip')%>" />
        <i class="tip icon-eye" data-value="0"></i>
      </li>
    </ul>
    <ul class="set-con">
      <label class="desc-lbl desc-width"><%=__('label.confirmNewPwd')%></label>
      <li class="text-con">
          <input class="text ime-mode-n hover text-width" maxLength="63" id="PwdCfm" value="" placeholder="<%=__('label.pwdLenTip')%>" />
        <i class="tip icon-eye" data-value="0"></i>
      </li>
    </ul>
    <ul class="blank-bg"></ul>
    <div class="err-note hidden">
      <i class="err-icon icon_remind_line"></i>
      <p class="note-str"></p>
    </div>
    <div class="btn-con">
      <input id="Save" class="btn" type="button" value="<%=__('btn.save')%>" />
    </div>
  </div>

<script type="text/javascript">
var oldPassword="";
function pageLoad()
{
}
function logout()
{
  try {
    if(wcloud_app_type=="ios")
        webkit.messageHandlers.logout.postMessage("");
    else 
        window.messageHandlers.logout("");  // android
  } catch(error) {
    alert(errStr.invRequestFail)
  }
}

function finishChangePassword(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);
  if(res.resCode==0)
  {
    closeLoading();	
    showNote(label.finishSetPass);
  }
  else if(res.resCode==-2){
    closeLoading();
    showNote(errStrNew["error_code_32802"]);
  }
  else {
    if(res.resCode==401) logout();
    closeLoading();	
  } 
}  


function checkPwdOld(password){
  if ("" == password){
    return E_PWD_OLD_BLANK;
  }
  return E_NONE;
}
  
function checkPwdNew(pwdNew, pwdCfm){
  var err = checkStrFormat(pwdNew);
  switch(err){
  case E_STRINGBLANK:
    return E_PWD_NEW_BLANK;
  case E_STRINGFORMAT:
    return E_PWD_NEW_ILLEGAL;
  }

  if (checkStrLen(pwdNew, 30, 6)){
    return E_PWD_NEW_LEN;
  }

  if (pwdNew != pwdCfm){
    return E_PWD_NEW_REPEAT_SAME;
  }

  return E_NONE;
}

function checkPwd(oldPwd, newPwd){
  if(oldPwd == newPwd)
    return E_PWD_NEW_OLD_SAME;

  return E_NONE;
}

function refreshPwd(){
  history.go(-1);
}


$(".icon-eye").click(function(){
  var val = $(this).attr("data-value");
  if (0 == val){
    $(this).attr("data-value", "1").removeClass("icon_eye_close").addClass("icon_eye_open");
    $(this).prev('input').attr("type", "text");
  }else{
    $(this).attr("data-value", "0").removeClass("icon_eye_open").addClass("icon_eye_close");
    $(this).prev('input').attr("type", "password");
  }
}).each(function(){
  var val = $(this).attr("data-value") || 0;

  if (1 == val){
    $(this).attr("data-value", "1").removeClass("icon_eye_close").addClass("icon_eye_open");
    $(this).prev('input').attr("type", "text").addClass("text-eye");
  }else{
    $(this).attr("data-value", "0").removeClass("icon_eye_open").addClass("icon_eye_close");
    $(this).prev('input').attr("type", "password").addClass("text-eye");
  }
});

  
$("#Save").click(function(){
  var oldPwd = $("#PwdOld").val();
  var pwd = $("#PwdNew").val();
  var confirmPwd = $("#PwdCfm").val();

  

  if (handleError(checkPwdOld(oldPwd))){
    return;
  }

  if (handleError(checkPwdNew(pwd, confirmPwd))){
    return;
  }

  if (handleError(checkPwd(oldPwd, pwd))){
    return;
  }
  closeNote();

  var data = {};
  data.current = oldPwd;
  data.new = pwd;

  // call native setPassword
  var reqJson = JSON.stringify(data)
  var reqStr = window.btoa(reqJson)
  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.changePassword.postMessage({callback:'finishChangePassword', req: reqStr});
    else
    {
      var jsReq = {callback:'finishChangePassword', req: data };
      window.messageHandlers.changePassword(JSON.stringify(jsReq));  // android
    }
    showLoading(label.saving);
  } catch(error) {
    alert(errStr.invRequestFail)
  }

});
</script>