<script type="text/javascript">
  var wcloud_app_type = ""
  var userAgent = window.navigator.userAgent
  if (userAgent=="wcloud_app_ios")
    wcloud_app_type = "ios"
  else if (userAgent=="wcloud_app_android") 
    wcloud_app_type = "android"
  else 
  {
    window.location.href ="/error"
  }
</script>

  <div class="head-con">
    <a href="javascript:history.go(-1);" class="head-btn-l"><i class="head-btn icon icon_back"></i></a>
    <h1 class="head-title"><%=__('label.meshNode')%></h1>
  </div>
  <div class="set-con below-head">
    <ul class="blank-bg"></ul>
    <!-- <ul class="set-con">
      <label class="desc-lbl"><%=__('label.deviceName')%></label>
      <li class="text-con">
        <input id="meshName" class="text hover" maxLength="32" value="" />
      </li>
    </ul> -->
    <ul class="set-con">
      <label class="desc-lbl"><%=__('label.macAddr')%></label>
      <li class="text-con">
        <input id="meshMac" class="text hover" maxLength="17" value="" />
      </li>
    </ul>
    <ul class="blank-bg"></ul>
    <div class="err-note hidden">
      <i class="err-icon icon_remind_line"></i>
      <p class="note-str"></p>
    </div>
    <div class="btn-con">
      <input id="Save" class="btn" type="button" value="<%=__('btn.save')%>" />
    </div>
  </div>


<script type="text/javascript">

function pageLoad()
{
}

function logout()
{
  try {
    if(wcloud_app_type=="ios")
        webkit.messageHandlers.logout.postMessage("");
    else 
        window.messageHandlers.logout("");  // android
  } catch(error) {
    alert(errStr.invRequestFail)
  }
}

function finishAddMesh(result)
{
	var resultData = window.atob(result);
	var res = JSON.parse(resultData);

	if(res.resCode==0)
	{
		showLoading(label.saving);
    window.location.href="/v02.01.001/meshManage"
	}
	else {
    if(res.resCode==401) logout();
    else alert(errStr.invRequestFail)
		closeLoading();	
	} 
}

function checkDevName(username){
  if ("" == username){
    return E_DIVICE_NAME_BLANK;
  }

  if (E_NONE != checkStrLen(username, 32, 1)){
    return E_DIVICE_NAME_LEN;
  }

  return E_NONE;
}

function checkNetworkMac(mac){
		var err = checkMac(mac);
		switch(err){
		case E_BLANK:
			return E_MACCLONE_MAC_BLANK;
		case E_INVMACFMT:
			return E_MACCLONE_MAC_FORMAT;
		case E_INVMAC:
			return E_MACCLONE_MAC_ILLEGAL;
		}
		return E_NONE;
	}


$("#Save").click(function(){
  /*
    // check callService meshManage
    "args":  {
      cmd: "add",
      macAddress :”80:3F:5D:11:22:33”,
      name : “living1”
    }
  */
  var callSvcArg = {};
  callSvcArg.cmd = "add"
  // callSvcArg.name = $("#meshName").val();
  callSvcArg.macAddress = $("#meshMac").val().toUpperCase();

  // if (handleError(checkDevName(callSvcArg.name))){
  //   return;
  // }
  if (handleError(checkNetworkMac(callSvcArg.macAddress))){
    return;
  }

  closeNote();
  var reqJson = JSON.stringify(callSvcArg)
  var reqStr = window.btoa(reqJson)
  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.meshManage.postMessage({callback:'finishAddMesh', req: reqStr});
    else
    {
      var jsReq = {callback:'finishAddMesh', req:callSvcArg };
      window.messageHandlers.meshManage(JSON.stringify(jsReq));  // android
    }
      
    showLoading(label.saving);
  } catch(error) {
    alert(errStr.invRequestFail)
  }
});

</script>