<style type="text/css">
	label.desc-lbl{
		text-indent:0.2rem;
	}
	label.switch{
		letter-spacing:0rem;
	}
	i.tip_select{
		position:absolute;
		right:0.05rem;
		top:0.15rem;
		font-size:0.8rem;
	}
	div.err-note,
	div.btn-con{
		clear:both;
	}
	ul.set-con input.text{
		width:5rem;
	}
	ul.set-con input.text-eye{
		width:4.25rem;
		padding-right:1rem;
	}
	li.select-con{
		width:1.25rem;
	}
	li.text-con span.select{
		width:80% !important;
		padding:0 0.05rem;
	}
</style>

<script type="text/javascript">
	var userAgent = window.navigator.userAgent
	var wcloud_app_type = ""
	if (userAgent=="wcloud_app_ios")
		wcloud_app_type = "ios"
	else if (userAgent=="wcloud_app_android") 
		wcloud_app_type = "android"
	else 
	{
	  window.location.href ="/error"
	}
</script>

<div class="head-con bg-connect bottom-none">
	<h1 class="head-title"><%=__('label.wifiSet')%></h1>
</div>

<div class="set-con below-head">
	<ul class="set-con" id="CanSmartConn">
		<div class="switch-con">
			<label class="desc-title"><%=__('label.twoInone')%></label>
			<span id="Two2One" class="switch">
				<i class="switch-circle"></i>
			</span>
		</div>
		<p class="desc-tetail"><%=__('label.wifiRemark')%></p>
	</ul>
	<ul class="set-con-title">
		<label class="title-desc-lbl"><%=__('label.wifiName')%></label>
	</ul>
	<ul class="set-con hidden">
		<label class="desc-lbl switch"><%=__('label.wifiSwitch')%></label>
		<span id="Switch2G" class="switch">
			<i class="switch-circle"></i>
		</span>
	</ul>
	<ul class="set-con">
		<label class="desc-lbl" id="WifiName"><%=__('label.wirelessName')%></label>
		<li class="text-con">
			<input id="Ssid2G" class="text hover" maxLength="32" value="" />
		</li>
	</ul>
	<ul class="set-con">
		<label class="desc-lbl"><%=__('label.password')%></label>
		<li class="text-con">
			<input id="Pwd2G" class="text hover text-eye" maxLength="63" value="" /><i class="tip icon-eye" data-value="0"></i>
		</li>
	</ul>
	<ul class="set-con" id="Wifi5G">
		<label class="desc-lbl"><%=__('label.wifi5G')%><%=__('label.ssidName')%></label>
		<li class="text-con">
			<input id="Ssid5G" class="text hover" maxLength="32" value="" />
		</li>
	</ul>
	<ul class="set-con" id="_Pwd5G">
		<label class="desc-lbl"><%=__('label.password')%></label>
		<li class="text-con">
			<input id="Pwd5G" class="text hover text-eye" maxLength="63" value="" /><i class="tip icon-eye" data-value="0"></i>
		</li>
	</ul>
	<div class="err-note hidden">
		<i class="err-icon icon_remind_line"></i>
		<p class="note-str"></p>
	</div>
	<div class="btn-con">
		<input id="Save" class="btn" type="button" value="<%=__('btn.save')%>" />
	</div>
</div>

<script type="text/javascript">
	function checkSsid(ssid,band){
		var bandType = band.toUpperCase();
		var err = checkStrFormat(ssid, "invalidSSID");
		switch(err){
			case E_STRINGBLANK:
							return eval("E_WIFI"+bandType+"_SSID_BLANK");
							//return E_NONE;
			case E_STRINGFORMAT:
							return eval("E_SSID_ILLEGAL");
		}

		if (checkStrLen(ssid, 31, 1) != E_NONE){
			return eval("E_WIFI"+bandType+"_SSID_LEN");
		}

		return E_NONE;
	}

	function checkPwd(password,band,smart){
		var bandType = band.toUpperCase();

		var err = checkStrFormat(password, "password");
		switch(err){
			case E_STRINGBLANK:
							return eval("E_WIFI"+bandType+"_PWD_ILLEGAL");
							//return E_NONE;
			case E_STRINGFORMAT:
							return eval("E_WIFI"+bandType+"_PWD_ILLEGAL");
		}

		if (checkStrLen(password, 63, 8) != E_NONE){
						return eval("E_WIFI"+bandType+"_PWD_LEN");
		}

		return E_NONE;
	}

	function handleWifiError(errCode, callback, smart){
		var newErrCode = errCode;
		if(smart && parseInt(smart)){
						switch(errCode){
							case E_GUESET_SSID_WIFI2G_SAME:
							case E_GUESET_SSID_WIFI5G_SAME:
											newErrCode = E_GUESET_SSID_WIFI2G_SAME_SMART;
											break;
							case E_WIFI2G_SSID_GUEST_SAME:
							case E_WIFI5G_SSID_GUEST_SAME:
											newErrCode = E_WIFI2G_SSID_GUEST_SAME_SMART;
											break;
							case E_WIFI2G_PWD_ILLEGAL:
							case E_WIFI5G_PWD_ILLEGAL:
											newErrCode = E_WIFI2G_PWD_ILLEGAL_SMART;
											break;
							case E_WIFI2G_PWD_LEN:
							case E_WIFI5G_PWD_LEN:
											newErrCode = E_WIFI2G_PWD_LEN_SMART;
											break;
							case E_WIFI2G_SSID_LEN:
							case E_WIFI5G_SSID_LEN:
											newErrCode = E_WIFI2G_SSID_LEN_SMART;
											break;
							case E_WIFI2G_SSID_BLANK:
							case E_WIFI5G_SSID_BLANK:
											newErrCode = E_WIFI2G_SSID_BLANK_SMART;
											break;
							case E_WIFI2G_SSID_GUEST5G_SAME:
							case E_WIFI5G_SSID_GUEST5G_SAME:
											newErrCode = E_WIFI2G_SSID_GUEST5G_SAME_SMART;
											break;
						}
					}
		return handleError(newErrCode, callback, smart);
	}
	
	function getWlanSetting()
	{
		// call webkit code here, ios app will call updateStatus 
		try {
			if(wcloud_app_type=="ios")
				webkit.messageHandlers.getWlanSetting.postMessage({callback:'gotWlanSetting', req:''});
			else
			{
				var jsReq = {callback:'gotWlanSetting', req: ''};
				window.messageHandlers.getWlanSetting(JSON.stringify(jsReq));  // android
			}   

			showLoading(label.loading);
   	} catch(error) {
      alert(errStr.invRequestFail)
		}
	}
	function gotWlanSetting(result)
	{
		var resultData = b64_to_utf8(result);
		var res = JSON.parse(resultData);
		if(res.resCode==0)
		{
			wlan24gSetting = res.result.wlanSetting.wlan24gSetting;
			wlan5gSetting = res.result.wlanSetting.wlan5gSetting;
			initSwitch("Switch2G", wlan24gSetting.enable==0 ? false: true);
			initSwitch("Switch5G", wlan5gSetting.enable==0 ? false: true);
			$("#Ssid2G").val(wlan24gSetting.SSID);
			$("#Ssid5G").val(wlan5gSetting.SSID);
			$("#Pwd2G").val(wlan24gSetting.keyPassphrase);
			$("#Pwd5G").val(wlan5gSetting.keyPassphrase);

			initSwitch("Two2One", res.result.wlanSetting.smartSSID==0 ? false : true, function(state, init){
				if (0 == state){
					$("#Wifi5G").show();
					$("#_Pwd5G").show();
					$("#WifiName").html(label.wifi2G+label.ssidName);
				}else{
					$("#Wifi5G").hide();
					$("#_Pwd5G").hide();
					$("#WifiName").html(label.ssidName);
					closeNote();
				}

				if (!init){
					$("#Ssid5G").val(getStrInMaxByte($("#Ssid2G").val(), 29) + "_5G");
				}
			});
		}
		else
		if(res.resCode==401) logout(); 

		closeLoading();
	}

	function pageLoad()
	{
		getWlanSetting();
  }
  
	function logout()
	{
		try {
			if(wcloud_app_type=="ios")
					webkit.messageHandlers.logout.postMessage("");
			else 
					window.messageHandlers.logout("");  // android
		} catch(error) {
      alert(errStr.invRequestFail)
		}
	}

	function sendConfig(para){
		apiSetWithModule("wireless", para, function(ret){
			var smartTips = smartConnectCap == "1"?para.wireless.smart_connect.enable:"0";
			var code = ret[ERR_CODE];
			if (E_NONE == code){
				var time = getMaxWaitTime(ret);
				$.setTimeout(function(){
					closeLoading();
					stateman.go("pc.wifiSet");
				}, time * 1000);
			}else{
				handleWifiError(code, showNote, smartTips);
				closeLoading();
			}
		});
	}
	
	function saveWifi(){
		var setAttrReq = {}
		var wlan24gSetting = {};
		var wlan5gSetting = {}; 
		setAttrReq.wlan24gSetting = wlan24gSetting;
		setAttrReq.wlan5gSetting = wlan5gSetting;

		setAttrReq.smartSSID = $("#Two2One").attr("data-value")==true ? 1 : 0;
		wlan24gSetting.enable = $("#Switch2G").attr("data-value")==true ? 1 : 0;
		wlan24gSetting.SSID = $("#Ssid2G").val();
		wlan24gSetting.keyPassphrase = $("#Pwd2G").val();

		if(setAttrReq.smartSSID==0)
		{
			wlan5gSetting.enable = $("#Switch5G").attr("data-value")==true ? 1 : 0;
			wlan5gSetting.SSID = $("#Ssid5G").val();
			wlan5gSetting.keyPassphrase = $("#Pwd5G").val();
		}
		else
		{
			wlan5gSetting.enable = $("#Switch2G").attr("data-value")==true ? 1 : 0;
			wlan5gSetting.SSID = $("#Ssid2G").val();
			wlan5gSetting.keyPassphrase = $("#Pwd2G").val();
			$("#Ssid5G").val(wlan5gSetting.SSID);
		}
		var bandType = "2g";
		if (handleWifiError(checkSsid(wlan24gSetting.SSID, bandType), showNote, setAttrReq.smartSSID==1)){
			return;
		}

		if (handleWifiError(checkPwd(wlan24gSetting.keyPassphrase, bandType), showNote, setAttrReq.smartSSID==1)){
			return;
		}

		bandType = "5g";
		if (handleWifiError(checkSsid(wlan5gSetting.SSID, bandType))){
			return;
		}

		if (handleWifiError(checkPwd(wlan5gSetting.keyPassphrase, bandType))){
			return;
		}
		if (wlan5gSetting.SSID == wlan24gSetting.SSID  && wlan5gSetting.keyPassphrase != wlan24gSetting.keyPassphrase){
			handleWifiError(E_WIFI2G_WIFI5G_SSID_SAME, showNote, smart_connect.enable);
			return;
		}
		var reqJson = JSON.stringify(setAttrReq);
		var reqStr = utf8_to_b64(reqJson);
		try {
			if(wcloud_app_type=="ios")
				webkit.messageHandlers.setWlanSetting.postMessage({callback:'finishWlanSetting', req: reqStr});
			else
			{
				var jsReq = {callback:'finishWlanSetting', req: setAttrReq};
				window.messageHandlers.setWlanSetting(JSON.stringify(jsReq));  // android
			}
			
			showLoading(label.saving);
   	} catch(error) {
      alert(errStr.invRequestFail)
		}
	}

	function finishWlanSetting(result)
	{
		var resultData = b64_to_utf8(result);
		var res = JSON.parse(resultData);
		if(res.resCode==0)
		{
			showLoading(label.saveWifi);
			setTimeout(closeLoading, 30000);
		}
		else {
			if(res.resCode==401) logout();
			closeLoading();	
		} 
	}


$(".icon-eye").click(function(){
		var val = $(this).attr("data-value");
		if (0 == val){
			$(this).attr("data-value", "1").removeClass("icon_eye_close").addClass("icon_eye_open");
			$(this).prev('input').attr("type", "text");
		}else{
			$(this).attr("data-value", "0").removeClass("icon_eye_open").addClass("icon_eye_close");
			$(this).prev('input').attr("type", "password");
		}
	}).each(function(){
		var val = $(this).attr("data-value") || 0;

		if (1 == val){
			$(this).attr("data-value", "1").removeClass("icon_eye_close").addClass("icon_eye_open");
			$(this).prev('input').attr("type", "text").addClass("text-eye");
		}else{
			$(this).attr("data-value", "0").removeClass("icon_eye_open").addClass("icon_eye_close");
			$(this).prev('input').attr("type", "password").addClass("text-eye");
		}
	});


$("#Save").click(function(){
	saveWifi();
});
</script>