<style type="text/css">
	div.app-list{
		position:absolute;
		top:1.111rem;
		bottom:0;
		font-size:0;
		left:0;
		width:100%;
	}
	ul.app-list{
		font-size:0;
		width:100%;
		height:23%;
		text-align:center;
	}
	li.app-item{
		float:left;
		color:#AACC00;
		border-color:rgba(240, 240, 240, 0.75);
		border-style:solid;
		border-width:0px 1px 1px 0;
		box-sizing:border-box; 
		width:33.3%;
		height:100%;
		display:inline-block;
		text-align:center;
		vertical-align:middle;
	}
	li.app-item .app-icon{
		width:1.407rem;
		height:1.407rem;
		border-radius:50%;
		margin:0.5rem auto 0.333rem;
	}
	li.app-item p{
		color:#9C9C9C;
		font-size:0.333rem;
		margin-bottom:0.5rem;
	}
</style>

<script type="text/javascript">
	var userAgent = window.navigator.userAgent
	var wcloud_app_type = ""
	if (userAgent=="wcloud_app_ios")
		wcloud_app_type = "ios"
	else if (userAgent=="wcloud_app_android") 
		wcloud_app_type = "android"
	else 
	{
		window.location.href ="/error"
	}
</script>

<script type="text/javascript">
var appListAll = [{href:"/v02.03.001/networkSet", icon:"internet", name:label.networkset, value:"network-set"},
					{href:"/v02.03.001/lanSet", icon:"lan", name:label.lanSet, value:"lan-set"},
				  {href:"/v02.03.001/guest", icon:"guest", name:label.guestNet, value:"guest-wifi"},
 			    {href:"/v02.03.001/timeZone", icon:"timezone", name:label.regionTimeZone, value:"time-zone"},
				  {href:"/v02.03.001/modifyPwd", icon:"lock", name:label.adminPwd, value:"admin-pwd"},
				  {href:"/v02.03.001/sysUpgrade", icon:"upgrade", name:label.sysUpgrade, value:"system-upgrade"},
				  {href:"/v02.03.001/light", icon:"led", name:label.ledTip, value:"light"},
				  {href:"/v02.03.001/signalCondition", icon:"signal_condition", name:label.signalCondition, value:"signal-condition"},
				  {href:"javascript:void(0);", icon:"reboot", name:label.rebootRouter, id:"RebootRouter", value:"reboot"},
				  {href:"javascript:void(0);", icon:"restore", name:label.reset, id:"FactoryReset", value:"factory-reset"}];

var appListNewUi = [{href:"/v02.03.001/guest", icon:"guest", name:label.guestNet, value:"guest-wifi"},
				  {href:"/v02.03.001/light", icon:"led", name:label.ledTip, value:"light"},
				//   {href:"/v02.03.001/signalCondition", icon:"signal_condition", name:label.signalCondition, value:"signal-condition"},
				  {href:"/v02.03.001/modifyPwd", icon:"lock", name:label.adminPwd, value:"admin-pwd"},
				  {href:"/v02.03.001/timeZone", icon:"timezone", name:label.regionTimeZone, value:"time-zone"},
				  {href:"/v02.03.001/lanSet", icon:"lan", name:label.lanSet, value:"lan-set"},
				  {href:"/v02.03.001/sysUpgrade", icon:"upgrade", name:label.sysUpgrade, value:"system-upgrade"},
				  {href:"/v02.03.001/reboot", icon:"reboot", name:label.rebootRouter, value:"reboot"}];

var appListMesh = [{href:"/v02.03.001/touchLink", icon:"guest", name:label.touchLinkNet, value:"touchLink-wifi"},
				  {href:"/v02.03.001/guest", icon:"guest", name:label.guestNet, value:"guest-wifi"},
				  {href:"/v02.03.001/light", icon:"led", name:label.ledTip, value:"light"},
				//   {href:"/v02.03.001/signalCondition", icon:"signal_condition", name:label.signalCondition, value:"signal-condition"},
				  {href:"/v02.03.001/modifyPwd", icon:"lock", name:label.adminPwd, value:"admin-pwd"},
				  {href:"/v02.03.001/timeZone", icon:"timezone", name:label.regionTimeZone, value:"time-zone"},
				  {href:"/v02.03.001/lanSet", icon:"lan", name:label.lanSet, value:"lan-set"},
				  {href:"/v02.03.001/sysUpgrade", icon:"upgrade", name:label.sysUpgrade, value:"system-upgrade"},
				  {href:"/v02.03.001/reboot", icon:"reboot", name:label.rebootRouter, value:"reboot"}];
				  
var appListMesh1 = [{href:"/v02.03.001/guest", icon:"guest", name:label.guestNet, value:"guest-wifi"},
				  {href:"/v02.03.001/light", icon:"led", name:label.ledTip, value:"light"},
				//   {href:"/v02.03.001/signalCondition", icon:"signal_condition", name:label.signalCondition, value:"signal-condition"},
				  {href:"/v02.03.001/modifyPwd", icon:"lock", name:label.adminPwd, value:"admin-pwd"},
				  {href:"/v02.03.001/timeZone", icon:"timezone", name:label.regionTimeZone, value:"time-zone"},
				  {href:"/v02.03.001/lanSet", icon:"lan", name:label.lanSet, value:"lan-set"},
				  {href:"/v02.03.001/sysUpgrade", icon:"upgrade", name:label.sysUpgrade, value:"system-upgrade"},
				  {href:"/v02.03.001/reboot", icon:"reboot", name:label.rebootRouter, value:"reboot"}];

var appListRepeater = [{href:"/v02.03.001/lanSet", icon:"lan", name:label.lanSet, value:"lan-set"},
				  {href:"/v02.03.001/guest", icon:"guest", name:label.guestNet, value:"guest-wifi"},
 			    {href:"/v02.03.001/timeZone", icon:"timezone", name:label.regionTimeZone, value:"time-zone"},
				  {href:"/v02.03.001/modifyPwd", icon:"lock", name:label.adminPwd, value:"admin-pwd"},
				  {href:"/v02.03.001/sysUpgrade", icon:"upgrade", name:label.sysUpgrade, value:"system-upgrade"},
				  {href:"/v02.03.001/light", icon:"led", name:label.ledTip, value:"light"},
				  {href:"javascript:void(0);", icon:"reboot", name:label.rebootRouter, id:"RebootRouter", value:"reboot"}];

var appList = appListMesh;

function initAppList(appList){
		var initApp = function(app){
			var id = "";
			if (app.id){
				id = 'onclick="' + app.id + '()"';
			}

			var targetStr = (app.value == "online-help")?' target="_blank" ':''

			var icon = "/luci-static/images/app-icon/" + app.icon + ".png";
			var href = "";
			if (app.id){
				href = app.href;
			} else {
				href = app.href + '/?keyBack=1';
			}
			var appHtml = '<a href="' + href + '" ' + id + targetStr + '>' +
							'<li class="app-item">' +
							'<img class="app-icon" src="' + icon + '" />' +
							'<p>' + app.name + '</p>' +
							'</li></a>';

			console.log(appHtml)
			return $(appHtml);
		}

		var colNum = 3;
		var len = appList.length;
		var rowNum = Math.ceil(len / colNum);
		var idx = 0;
		var appCon = $("#AppList");

		for (var i = 0, idx = 0; i < rowNum; i++){
			var ul = $('<ul class="app-list"></ul>').appendTo(appCon);
			for (var j = 0; j < colNum && idx < len; j++, idx++){
				initApp(appList[idx]).appendTo(ul);
			}
		}
	}

	function clickTest()
	{
		alert("clickTest")
	}
	function getRouterInfo()
	{
		// call webkit code here, ios app will call updateStatus 
		// can use getStatus or deviceList command 
		try {
		if(wcloud_app_type=="ios")
			webkit.messageHandlers.getRouterConfig.postMessage({callback:'gotRouterConfig', req:''});
		else
		{
			var jsReq = {callback:'gotRouterConfig', req: ''};
			window.messageHandlers.getRouterConfig(JSON.stringify(jsReq));  // android
		}      
		} catch(error) {
		alert(errStr.invRequestFail)
		}
	}
	function gotRouterConfig(result)
	{
		var resultData = window.atob(result);
		var res = JSON.parse(resultData);

		if(res.resCode==0)
		{
			var routerConfig = res.result.routerConfig;
			if(routerConfig.ModelType == "Mesh"){
				if(routerConfig.touch_key_en == 1){
					if(routerConfig.uiVersion != ""){
						appList = appListNewUi;
					}
					else{
						appList = appListMesh;
					}
				}
				else{
					appList = appListMesh1;
				}
			}
			else if(routerConfig.ModelType == "GW")
				appList = appListAll;
			else if(routerConfig.ModelType == "AP")
				appList = appListRepeater;
			initAppList(appList);
		}
		else
		if(res.resCode==401) logout();
		closeLoading();
	}
	function pageLoad()
	{
		getRouterInfo();
	}

	function logout()
	{
		try {
			if(wcloud_app_type=="ios")
					webkit.messageHandlers.logout.postMessage("");
			else 
					window.messageHandlers.logout("");  // android
		} catch(error) {
      alert(errStr.invRequestFail)
		}
	}

	function reconnectMsg()
	{
		closeLoading();	
		alert(label.reconnectMsg);
		logout();
	}

	function finishSetting(result)
	{
		var resultData = window.atob(result);
		var res = JSON.parse(resultData);

		if(res.resCode==0)
		{
			showLoading(label.rebooting);
			setTimeout(reconnectMsg, 120000);
		}
		else {
			if(res.resCode==401) logout();
			closeLoading();	
		} 
	}
	
	function RebootRouter()
	{
		var setAttrReq = {}
		showConfirm(label.routerReboot, function(choose){
			if (choose){
				var reqJson = JSON.stringify(setAttrReq)
				var reqStr = window.btoa(reqJson)
				try {
					if(wcloud_app_type=="ios")
						webkit.messageHandlers.reboot.postMessage({callback:'finishSetting', req: reqStr});
					else
					{
						var jsReq = {callback:'finishSetting', req: setAttrReq};
						window.messageHandlers.reboot(JSON.stringify(jsReq));  // android
					}  					
						
					showLoading(label.rebooting);
				} catch(error) {
					alert(errStr.invRequestFail)
				}
			}
		});
	}

	function FactoryReset()
	{
		var setAttrReq = {}
		showConfirm(label.routerReset, function(choose){
			if (choose){
				showLoading(label.rebooting);
				var reqJson = JSON.stringify(setAttrReq)
				var reqStr = window.btoa(reqJson)
				try {
					if(wcloud_app_type=="ios")
						webkit.messageHandlers.factoryReset.postMessage({callback:'finishSetting', req: reqStr});
					else
					{
						var jsReq = {callback:'finishSetting', req: setAttrReq};
						window.messageHandlers.factoryReset(JSON.stringify(jsReq));  // android
					}  					
						
					showLoading(label.rebooting);
				} catch(error) {
					alert(errStr.invRequestFail)
				}
			}
		});
	}


</script>
<div class="head-con">
	<h1 class="head-title"><%=__('label.appSet')%></h1>
</div>
<div id="AppList" class="app-list"></div>
