<script type="text/javascript">
  var wcloud_app_type = ""
  var userAgent = window.navigator.userAgent
  if (userAgent=="wcloud_app_ios")
    wcloud_app_type = "ios"
  else if (userAgent=="wcloud_app_android") 
    wcloud_app_type = "android"
  else 
  {
    window.location.href ="/error"
  }
</script>

<div class="head-con">
        <a href="javascript:history.go(-1);" class="head-btn-l"><i class="head-btn icon icon_back"></i></a>
        <h1 class="head-title"><%=__('label.rebootRouter')%></h1>
</div>
<div class="set-con below-head">
  <ul class="blank-bg"></ul>
	<div class="btn-con">
		<input id="Reboot" class="btn" type="button" value="<%=__('btn.reboot')%>" />
	</div>
  <ul class="set-con time-switch">
    <label class="desc-lbl switch"><%=__('label.timeRebootRouter')%></label>
    <span id="TimeSwitch" class="switch">
      <i class="switch-circle"></i>
    </span>
  </ul>
  <ul  id="TimeSet" class="set-con time-switch">
    <label class="desc-lbl"><%=__('label.rebootTime')%></label>
    <li class="text-con select-con">
      <span id="CloseHour" class="select" data-value="0">
        <span class="select-value"></span>
        <i class="tip_select icon_list-expansion"></i>
      </span>
    </li>
    <span class="time-to"><%=__('label.colon')%></span>
    <li class="text-con select-con">
      <span id="CloseMin" class="select" data-value="0">
        <span class="select-value"></span>
        <i class="tip_select icon_list-expansion"></i>
      </span>
    </li>
  </ul>
<ul class="blank-bg hidden"></ul>
  <div class="err-note hidden">
          <i class="err-icon icon_remind_line"></i>
          <p class="note-str"></p>
  </div>
  <div class="btn-con hidden">
        <input id="Save" class="btn" type="button" value="<%=__('btn.save')%>" />
  </div>
</div>

<script type="text/javascript">

function pageLoad()
{
  $("ul.time-switch").hide();
  // getRebootSetting()
}

function logout()
{
  try {
    if(wcloud_app_type=="ios")
        webkit.messageHandlers.logout.postMessage("");
    else 
        window.messageHandlers.logout("");  // android
  } catch(error) {
    alert(errStr.invRequestFail)
  }
}

function getRebootSetting()
{
  // call webkit code here, ios app will call updateStatus 
  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.getRebootSetting.postMessage({callback:'gotRebootSetting', req:''});
    else
    {
      var jsReq = {callback:'gotRebootSetting', req: '' };
      window.messageHandlers.getRebootSetting(JSON.stringify(jsReq));  // android
    }

    showLoading(label.loading);
  } catch(error) {
    alert(errStr.invRequestFail)
  }

}

function gotRebootSetting(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);
  
  if(res.resCode==0)
  {
    if(res.result.rebootSetting.enable==1) {
      initSwitch("Switch", res.result.rebootSetting.status);
    }
    else 
    {
      document.getElementById("Switch").disabled = true;
      document.getElementById("Save").disabled = true;
    }
  }
  else
  if(res.resCode==401) logout(); 

  closeLoading();
}

function finishRebootSetting(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);

  if(res.resCode==0)
  {
    showLoading(label.rebooting);
    setTimeout(reconnectMsg, 120000);
  }
  else {
    if(res.resCode==401) logout();
    closeLoading();	
  } 
}

$("#Reboot").click(function(){
  var setAttrReq = {}
		showConfirm(label.routerReboot, function(choose){
			if (choose){
				var reqJson = JSON.stringify(setAttrReq)
				var reqStr = window.btoa(reqJson)
				try {
					if(wcloud_app_type=="ios")
						webkit.messageHandlers.reboot.postMessage({callback:'finishRebootSetting', req: reqStr});
					else
					{
						var jsReq = {callback:'finishRebootSetting', req: setAttrReq};
						window.messageHandlers.reboot(JSON.stringify(jsReq));  // android
					}  					
						
					showLoading(label.rebooting);
				} catch(error) {
					alert(errStr.invRequestFail)
				}
			}
		});
});
$("#Save").click(function(){
  // var setAttrReq = {}
  // setAttrReq.enable = 1
  // setAttrReq.status = parseInt($("#Switch").attr("data-value"));

  // var reqJson = JSON.stringify(setAttrReq)
  // var reqStr = window.btoa(reqJson)
  // try {
  //   if(wcloud_app_type=="ios")
  //       webkit.messageHandlers.setRebootSetting.postMessage({callback:'finishRebootSetting', req: reqStr});
  //   else
  //   {
  //     var jsReq = {callback:'finishRebootSetting', req: setAttrReq };
  //     window.messageHandlers.setRebootSetting(JSON.stringify(jsReq));  // android
  //   }
      
  //   showLoading(label.saving);
  // } catch(error) {
  //   alert(errStr.invRequestFail)
  // }
});

</script>
            