@font-face {
  font-family: 'icofont';
  src:  url('/luci-static/fonts/icofont.eot?t9fbnuwavlink');
  src:  url('/luci-static/fonts/icofont.eot?t9fbnuwavlink#iefix#') format('embedded-opentype'),
    url('/luci-static/fonts/icofont.ttf?t9fbnuwavlink') format('truetype');

  font-weight: normal;
  font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icofont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_clock:before {
  content: "\e900";
}
.icon_confirm:before {
  content: "\e901";
}
.icon_add:before {
  content: "\e902";
}
.icon_acer:before {
  content: "\e903";
}
.icon_apple:before {
  content: "\e904";
}
.icon_asus:before {
  content: "\e905";
}
.icon_coolpad:before {
  content: "\e906";
}
.icon_default:before {
  content: "\e907";
}
.icon_dell:before {
  content: "\e908";
}
.icon_hp:before {
  content: "\e909";
}
.icon_htc:before {
  content: "\e90a";
}
.icon_huawei:before {
  content: "\e90b";
}
.icon_lenovo:before {
  content: "\e90c";
}
.icon_lg:before {
  content: "\e90d";
}
.icon_meizu:before {
  content: "\e90e";
}
.icon_mi:before {
  content: "\e90f";
}
.icon_oneplus:before {
  content: "\e910";
}
.icon_oppo:before {
  content: "\e911";
}
.icon_wavlink:before {
  content: "\e912";
}
.icon_wavlink_offline:before {
  content: "\e912";
}
.icon_samsung:before {
  content: "\e913";
}
.icon_smartisan:before {
  content: "\e914";
}
.icon_sony:before {
  content: "\e915";
}
.icon_vivo:before {
  content: "\e916";
}
.icon_wp:before {
  content: "\e917";
}
.icon_zte:before {
  content: "\e918";
}
.icon_Balance:before {
  content: "\e919";
}
.icon_Video:before {
  content: "\e91a";
}
.icon_web:before {
  content: "\e91b";
}
.icon_game:before {
  content: "\e91c";
}
.icon_BT_Download:before {
  content: "\e91d";
}
.icon_state_down:before {
  content: "\e91e";
}
.icon_radiobox_off:before {
  content: "\e91f";
}
.icon_radiobox_on:before {
  content: "\e920";
}
.icon_phone:before {
  content: "\e921";
}
.icon_lan:before {
  content: "\e922";
}
.icon_position:before {
  content: "\e923";
}
.icon_close:before {
  content: "\e924";
}
.icon_dns:before {
  content: "\e925";
}
.icon_healthy:before {
  content: "\e926";
}
.icon_PhiCDN:before {
  content: "\e927";
}
.icon_lan_set:before {
  content: "\e928";
}
.icon_router:before {
  content: "\e929";
}
.icon_download:before {
  content: "\e92a";
}
.icon_storage:before {
  content: "\e92b";
}
.icon_price:before {
  content: "\e92c";
}
.icon_remote_management:before {
  content: "\e92d";
}
.icon_wirelessl_extend:before {
  content: "\e92e";
}
.icon_screen:before {
  content: "\e92f";
}
.icon_wps:before {
  content: "\e930";
}
.icon_phicloud:before {
  content: "\e931";
}
.icon_backups:before {
  content: "\e932";
}
.icon_upgrade_hand:before {
  content: "\e933";
}
.icon_port:before {
  content: "\e934";
}
.icon_dmz:before {
  content: "\e935";
}
.icon_qos:before {
  content: "\e936";
}
.icon_upnp:before {
  content: "\e937";
}
.icon_vpn_client:before {
  content: "\e938";
}
.icon_vpn_server:before {
  content: "\e939";
}
.icon_help:before {
  content: "\e93a";
}
.icon_lock:before {
  content: "\e93b";
}
.icon_help_back:before {
  content: "\e93c";
}
.icon_wifi_signal_three:before {
  content: "\e93d";
}
.icon_key:before {
  content: "\e93e";
}
.icon_management:before {
  content: "\e93f";
}
.icon_file:before {
  content: "\e940";
}
.icon_inspect:before {
  content: "\e941";
}
.icon_control:before {
  content: "\e942";
}
.icon_dhcp:before {
  content: "\e943";
}
.icon_security:before {
  content: "\e944";
}
.icon_router_line:before {
  content: "\e945";
}
.icon_wifi_signal:before {
  content: "\e946";
}
.icon_refresh:before {
  content: "\e947";
}
.icon_visitor_line:before {
  content: "\e948";
}
.icon_4G:before {
  content: "\e949";
}
.icon_g:before {
  content: "\e94a";
}
.icon_speed_up:before {
  content: "\e94b";
}
.icon_speed:before {
  content: "\e94c";
}
.icon_list_expansion:before {
  content: "\e94d";
}
.icon_error:before {
  content: "\e94e";
}
.icon_upgrade:before {
  content: "\e94f";
}
.icon_remind:before {
  content: "\e950";
}
.icon_back:before {
  content: "\e951";
}
.icon_informationsvg:before {
  content: "\e952";
}
.icon_select_off:before {
  content: "\e953";
}
.icon_select_on:before {
  content: "\e954";
}
.icon_remind_line:before {
  content: "\e955";
}
.icon_eye_open:before {
  content: "\e956";
}
.icon_eye_close:before {
  content: "\e957";
}
.icon_set_down:before {
  content: "\e958";
}
.icon_terminal_down:before {
  content: "\e959";
}
.icon_wirelessl:before {
  content: "\e95a";
}
.icon_terminal:before {
  content: "\e95b";
}
.icon_set:before {
  content: "\e95c";
}
.icon_state:before {
  content: "\e95d";
}
.icon_reset:before {
  content: "\e95e";
}
.icon_restart:before {
  content: "\e95f";
}
.icon_visitor:before {
  content: "\e960";
}
.icon_net:before {
  content: "\e961";
}
.icon_list-expansion:before {
  content: "\e962";
}
.icon_wifi_new:before {
  content: "\e963";
}
.icon_G_new:before {
  content: "\e964";
}
.icon_4g_new:before {
  content: "\e965";
}
.icon_code:before {
  content: "\e966";
}
.icon_Connected:before {
  content: "\e967";
}
.icon_disconnection:before {
  content: "\e968";
}
.icon_prohibit:before {
  content: "\e969";
}
.icon_wifi_whole:before {
  content: "\e96a";
}
.icon_wifi_up:before {
  content: "\e96b";
}
.icon_wifi_down:before {
  content: "\e96c";
}
.icon_service:before {
  content: "\e96d";
}
.icon_cpu:before {
  content: "\e96e";
}
