<style type="text/css">
	#Content{
		background-color:#F0F0F0;
	}
	div.device-list{
		background-color:#FFF;
	}
	ul.list{
		margin:0 0.5rem;
	}
	a.list-item{
		text-decoration:none;
	}
	li.list-item{
		font-size:0;
		padding:0.25rem 0 0;
		overflow:hidden;
		border-bottom:1px solid #E9E9E9;
	}
	a.list-item:last-child li.list-item{
		border-bottom:0;
	}
	div.left-con{
		float:left;
		width:20%;
	}
	i.verdor-icon{
		font-size:1.25rem;
		display:inline-block;
		width:1.25rem;
		height:1.25rem;
	}
	div.right-con{
		float:right;
		width:80%;
	}
	a:last-child div.right-con{
		border-bottom:0;
	}
	p.list-con-l{
		font-size:0;
		float:left;
		width:5rem;
	}
	p.list-con-r{
		position:relative;
		color:#949494;
		font-size:0.4rem;
		float:right;
		max-width:2rem;
		text-align:right;
		min-width:2rem;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
	p.list-con-r::before{
		content:"\A";
		white-space:pre;
	}
	span.speed-limit{
		color:#1389E7;
		position:absolute;
		top:0;
		right:0;
	}
	span.list-con1{
		color:#575757;
		font-size:0.417rem;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		display:inline-block;
		width:3.8rem;
	}
	span.self{
		/* margin-left:0.2rem; */
		font-size:0.4rem;
		color:#1389E7;
		vertical-align:top;
		text-overflow:ellipsis;
		white-space:nowrap;
		display:inline-block;
		width:3.8rem;
	}
	span.list-con1::after{
		content:"\A";
		white-space:pre;
	}
	span.list-con2{
		color:#949494;
		font-size:0.4rem;
	}
	span.speed-con{
		display:inline-block;
		width:2.5rem;
	}
	span.speed-con i{
		margin-right:0.1rem;
	}
	.icon_speed_up{
		color:#1499E6;
	}
	.icon_speed{
		color:#1FB66F;
	}
	span.mac{
		margin-left:0.2rem;
	}
</style>

<script type="text/javascript">
  var wcloud_app_type = ""
  var userAgent = window.navigator.userAgent
  if (userAgent=="wcloud_app_ios")
    wcloud_app_type = "ios"
  else if (userAgent=="wcloud_app_android") 
    wcloud_app_type = "android"
  else 
  {
    window.location.href ="/error"
  }
  </script>

<div class="head-con">
	<h1 class="head-title"><%=__('label.devManage')%></h1>
</div>
<div class="device-list below-head">
	<ul class="set-con-title-mesh" id="MeshTitle">
		<label class="title-desc-lbl" id="WifiName"><%=__('label.meshNode')%></label>
	</ul>
	<ul id="meshList" class="list"></ul>
	<ul class="set-con-title" id="OnlineTitle">
		<label class="title-desc-lbl" id="WifiName"><%=__('label.onlineClient')%></label>
	</ul>
	<ul id="onlineList" class="list"></ul>
	<ul class="set-con-title hidden" id="OfflineTitle">
		<label class="title-desc-lbl" id="WifiName"><%=__('label.offlineClient')%></label>
	</ul>
	<ul id="offlineList" class="list"></ul>
	<ul class="set-con-title hidden" id="ForbidTitle">
		<label class="title-desc-lbl" id="WifiName"><%=__('label.forbidClient')%></label>
	</ul>
	<ul id="forbidList" class="list"></ul>
</div>

<script type="text/javascript">

  var firstLoading = 1
  function pageLoad()
  {
    showLoading(label.loading);
    getDeviceList()
  }
  
  function logout()
  {
    try {
      if(wcloud_app_type=="ios")
          webkit.messageHandlers.logout.postMessage("");
      else 
          window.messageHandlers.logout("");  // android
    } catch(error) {
      alert(errStr.invRequestFail)
    }
  }

  function JSON2UriParam(data){
		return $.param(data).replace(/\+/g, '%20');
	}

  function getDeviceList()
  {
    // call webkit code here, ios app will call updateStatus 
    // can use getStatus or deviceList command 
    try {
      if(wcloud_app_type=="ios")
        webkit.messageHandlers.getStatus.postMessage({callback:'updateDeviceList', req:''});
      else
      {
        var jsReq = {callback:'updateDeviceList', req: ''};
        window.messageHandlers.getStatus(JSON.stringify(jsReq));  // android
      }      
    } catch(error) {
      alert(errStr.invRequestFail)
    }
  }
  
  /*
    native code will return like
{ 
       "resCode" : 0,
      "result" : {
        "deviceList" : [
          {
            "connectedTime" : "3600",
            "speedUpLimit" : 0,
            "hostName" : "android",
            "blocked" : 0,
            "ipAddress" : "192.168.10.101",
            "upSpeed" : 240234,
            "totalByteSent" : 54134231,
            "dlSpeed" : 100,
            "totalByteReceived" : 54134231,
            "time_flag" : 0,
            "timeSchedule" : [
              "1,11:00-17:00"
            ],
            "warning" : "it is just a sample. please implement it.",
            "interface" : "wlan24g",
            "speedDnLimit" : 0,
            "macAddress" : "4C:66:41:11:22:33"
          },
          {
            "connectedTime" : "3600",
            "speedUpLimit" : 0,
            "hostName" : "apple",
            "blocked" : 0,
            "ipAddress" : "192.168.10.102",
            "upSpeed" : 240234,
            "totalByteSent" : 54134231,
            "dlSpeed" : 10000,
            "totalByteReceived" : 54134231,
            "time_flag" : 0,
            "timeSchedule" : [
              "1,11:00-17:00"
            ],
            "warning" : "it is just a sample. please implement it.",
            "interface" : "wlan24g",
            "speedDnLimit" : 0,
            "macAddress" : "F0:76:6F:11:22:33"
          },
          {
            "connectedTime" : "0",
            "speedUpLimit" : 0,
            "hostName" : "huawei",
            "blocked" : 0,
            "ipAddress" : "192.168.10.103",
            "upSpeed" : 240234,
            "totalByteSent" : 54134231,
            "dlSpeed" : 10000,
            "totalByteReceived" : 54134231,
            "time_flag" : 0,
            "timeSchedule" : [
              "1,11:00-17:00"
            ],
            "warning" : "it is just a sample. please implement it.",
            "interface" : "wlan24g",
            "speedDnLimit" : 0,
            "macAddress" : "48:AD:08:11:22:33"
          }
        ]
      }
    }
  */

  function updateDeviceList(result)
  {
    var resultData = window.atob(result);

    if(firstLoading==1){
      firstLoading = 0;
      closeLoading();	
    }
    var res = JSON.parse(resultData);
    if(res.resCode==0)
    {
      var deviceList = res.result.deviceList;
      initList(deviceList);
    }
    else
    if(res.resCode==401) logout();
  
    setTimeout(getDeviceList, 2000)
  }
  
  var onlineListObj = $("#onlineList");
  var offlineListObj = $("#offlineList");
  var forbidListObj = $("#forbidList");
  var meshListObj = $("#meshList");
  
  var forbidTitleObj = $("#ForbidTitle");
  var offlineTitle = $("#OfflineTitle");
  var meshTitleObj = $("#MeshTitle");

  var curIp = "0.0.0.0" // at remote access
  
  function initOnlineEntry(client){
    var param = JSON2UriParam(client);
    var vendor;
    if(client.brand){
      vendor = "icon_" + getAlias(client.brand);
    }else{
      vendor = "icon_" + getVendor(client.macAddress);
    }
    var devName = htmlEscape(client.hostName);
    var devIp = htmlEscape(client.ipAddress);
    var uRate = netSpeedTrans(client.upSpeed);
    var dRate = netSpeedTrans(client.dlSpeed);
    var timeStr = timeTrans(client.connectedTime);
    var rightConStr = timeStr;
    var selfHost = "";
  
    if (client.ipAddress == curIp){
      selfHost = "<%=__('label.selfHost')%>";
    }
  
    if (0 != client.speedUpLimit || 0 != client.speedDnLimit){
      limitSpeed = "<%=__('label.limitSpeed')%>"
      rightConStr += ('<span class="speed-limit">'+limitSpeed+'<span>');
    }
  
    if (!(0 <= parseInt(client.upSpeed) && 0 <= parseInt(client.dlSpeed)))
    {
      uRate = dRate = "----";
    }
  
    return '<a href="/v03.001/editClient/?keyBack=1&' + param + '" class="list-item"><li class="list-item">' +
      // '<a href="/editClient/?keyBack=1&' + param + '" class="list-item"><li class="list-item">' +
      '<div class="left-con"><i class="verdor-icon ' + vendor + '"></i></div>' +
      '<div class="right-con">' +
        '<p class="list-con-l">' +
          '<span class="list-con1">' + devName + '</span>'+
          '<span class="self">' + selfHost + '</span>'+
          '<span class="self">' + devIp + '</span>'+
          // '<span class="list-con2 speed-con"><i class="icon_speed_up"></i><span>' + uRate + '</span></span>' +
          // '<span class="list-con2 speed-con"><i class="icon_speed"></i><span>' + dRate + '</span></span>' +
        '</p>' +
        // '<p class="list-con-r">' + rightConStr + '</p>' +
      '</div>' +
    '</li></a>';
  }
  
  function initForbidEntry(client){
    var param = JSON2UriParam(client);
    console.log(param)
    var vendor;
    if(client.brand){
      vendor = "icon_" + getAlias(client.brand);
    }else{
      vendor = "icon_" + getVendor(client.macAddress);
    }
    var devName = htmlEscape(client.hostName, 16);
  
    return '<a href="/v03.001/editClient/?keyBack=1&' + param + '" class="list-item"><li class="list-item">' +
      '<div class="left-con"><i class="verdor-icon ' + vendor + '"></i></div>' +
      '<div class="right-con">' +
        '<p class="list-con-l">' +
          '<span class="list-con1">' + devName + '</span>'+
          '<span class="list-con2"><%=__("label.mac")%><span class="mac">' + client.macAddress + '</span></span>' +
        '</p>' +
      '</div>' +
    '</li></a>';
  }
  

  function initMeshEntry(client){
    var vendor;
    if(client.brand){
      vendor = "icon_" + getAlias(client.brand);
    }else{
      vendor = "icon_" + getVendor(client.macAddress);
    }
    var devName = htmlEscape(client.hostName, 16);
    if (1 != client.status) vendor = vendor + "_offline"
    
    return '<a href="/v03.001/meshManage/?keyBack=1" class="list-item"><li class="list-item">' +
      '<div class="left-con"><i class="verdor-icon ' + vendor + '"></i></div>' +
      '<div class="right-con">' +
        '<p class="list-con-l">' +
          '<span class="list-con1">' + devName + '</span>'+
          '<span class="list-con2"><%=__("label.mac")%><span class="mac">' + client.macAddress + '</span></span>' +
        '</p>' +
      '</div>' +
    '</li></a>';
  }

  function initList(clients){
    onlineListObj.empty();
    offlineListObj.empty();
    forbidListObj.empty();
    meshListObj.empty();
    
    forbidTitleObj.hide();
    offlineTitle.hide();
    meshTitleObj.hide();
    var len = clients.length;
    for (var i = 0; i < len; i++){
      if(clients[i].interface=="mesh")
      {
        meshTitleObj.show();
        meshListObj.append(initMeshEntry(clients[i]));
      }
      else
      {
        if (0 != clients[i].blocked){
          forbidTitleObj.show();
          forbidListObj.append(initForbidEntry(clients[i]));
        }else{
          if (1 == clients[i].status){
            onlineListObj.append(initOnlineEntry(clients[i]));
          }else{
            offlineTitle.show();
            offlineListObj.append(initForbidEntry(clients[i]));
          }
        }
      }
    }
  }
  </script>
