<style type="text/css">
	#Content{
		background-color:#F0F0F0;
	}
	div.device-list{
		background-color:#FFF;
	}
	ul.list{
		margin:0 0.5rem;
	}
	a.list-item{
		text-decoration:none;
	}
	li.list-item{
		font-size:0;
		padding:0.25rem 0 0;
		overflow:hidden;
		border-bottom:1px solid #E9E9E9;
	}
	a.list-item:last-child li.list-item{
		border-bottom:0;
	}
	div.left-con{
		float:left;
		width:20%;
	}
	i.verdor-icon{
		font-size:1.25rem;
		display:inline-block;
		width:1.25rem;
		height:1.25rem;
	}
	div.right-con{
		float:right;
		width:80%;
	}
	a:last-child div.right-con{
		border-bottom:0;
	}
	p.list-con-l{
		font-size:0;
		float:left;
		width:5rem;
	}
	p.list-con-r{
		position:relative;
		color:#949494;
		font-size:0.4rem;
		float:right;
		max-width:2rem;
		text-align:right;
		min-width:2rem;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
	p.list-con-r::before{
		content:"\A";
		white-space:pre;
	}
	span.speed-limit{
		color:#1389E7;
		position:absolute;
		top:0;
		right:0;
	}
	span.list-con1{
		color:#575757;
		font-size:0.417rem;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		display:inline-block;
		width:3.8rem;
	}
	span.self{
		margin-left:0.2rem;
		font-size:0.4rem;
		color:#1389E7;
		vertical-align:top;
		text-overflow:ellipsis;
		white-space:nowrap;
		display:inline-block;
		width:1rem;
	}
	span.list-con1::after{
		content:"\A";
		white-space:pre;
	}
	span.list-con2{
		color:#949494;
		font-size:0.4rem;
	}
	span.speed-con{
		display:inline-block;
		width:2.5rem;
	}
	span.speed-con i{
		margin-right:0.1rem;
	}
	.icon_speed_up{
		color:#1499E6;
	}
	.icon_speed{
		color:#1FB66F;
	}
	span.mac{
		margin-left:0.2rem;
  }

	ul.add-item{
		margin-top:0.11rem;
		font-size:1.00rem;
		margin-left:0.57rem;
		text-align:left;
  }

  p.add-white-item {
		color:#3d65a3;
  }
	.color-blue{
		color:#3d65a3
  }
  
	.add-gray{
		color:#BFBFBF;
	}
	.add-orange{
		color:#3d65a3;
	}  
</style>

<script type="text/javascript">
  var wcloud_app_type = ""
  var userAgent = window.navigator.userAgent
  if (userAgent=="wcloud_app_ios")
    wcloud_app_type = "ios"
  else if (userAgent=="wcloud_app_android") 
    wcloud_app_type = "android"
  else 
  {
    window.location.href ="/error"
  }

</script>

<div class="head-con">
	<a href="javascript:history.go(-1);" class="head-btn-l"><i class="head-btn icon icon_back"></i></a>
	<h1 class="head-title"><%=__('label.meshManage')%></h1>
</div>
<div class="device-list below-head">
	<ul class="set-con-title-mesh" id="MeshTitle">
		<label class="title-desc-lbl" id="WifiName"><%=__('label.meshNode')%></label>
	</ul>
	<ul id="meshList" class="list"></ul>
</div>
<div id="InterceptListTab" class="tab-con">
  <ul id="InterceptTab" class="list"></ul>
  <ul class="add-item">
    <i class="icon_add add-orange"></i>
  </ul>
</div>

<script type="text/javascript">

  
var meshListObj = $("#meshList");
var meshTitleObj = $("#MeshTitle");

function addtest1111()
  {
    var client = {};
    client.ipAddress =  "192.168.10.101";
    client.macAddress =  "4C:66:41:11:22:33";
    client.hostName = "extender"

    meshTitleObj.show();
    meshListObj.append(initMeshEntry(client));
  }
  
  function pageLoad()
  {
    showLoading(label.loading);
    getDeviceList()
  }

  function logout()
  {
    try {
      if(wcloud_app_type=="ios")
          webkit.messageHandlers.logout.postMessage("");
      else 
          window.messageHandlers.logout("");  // android
    } catch(error) {
      alert(errStr.invRequestFail)
    }
  }

  function JSON2UriParam(data){
		return $.param(data).replace(/\+/g, '%20');
	}

  function getDeviceList()
  {
    // call webkit code here, ios app will call updateStatus 
    // can use getStatus or deviceList command 
    try {
      if(wcloud_app_type=="ios")
          webkit.messageHandlers.getStatus.postMessage({callback:'updateStatus', req:''});
      else
      {
        var jsReq = {callback:'updateStatus', req: '' };
        window.messageHandlers.getStatus(JSON.stringify(jsReq));  // android
      }
    } catch(error) {
      alert(errStr.invRequestFail)
    }
  }
  
  function updateStatus(result)
  {
    var resultData = window.atob(result);

    closeLoading();	

    var res = JSON.parse(resultData);
    if(res.resCode==0)
    {
      var deviceList = res.result.deviceList;
      initList(deviceList)
    }
    else
    if(res.resCode==401) logout();
  }

  function finishDeleteMesh(result)
  {
    var resultData = window.atob(result);
    closeLoading(20);	

    var res = JSON.parse(resultData);
    if(res.resCode==0)
    {
      window.setTimeout(function(){
        window.location.reload();
				}, 20000);
    }
    else
    if(res.resCode==401) logout();
    else
      alert(errStr.invRequestFail)
  }

  function initMeshEntry(client){
    var param = JSON2UriParam(client);
    console.log(param)
    var vendor;
    if(client.brand){
      vendor = "icon_" + getAlias(client.brand);
    }else{
      vendor = "icon_" + getVendor(client.macAddress);
    }
    var devName = htmlEscape(client.hostName, 16);

    console.log(vendor)

    if (1 != client.status) vendor = vendor + "_offline"

    buttonStr = '';
    if(client.router){
      return '<li class="list-item" data-value="' + client.macAddress +'">' +
					'<div class="left-con"><i class="verdor-icon ' + vendor + '"></i></div>' +
					'<div class="right-con">' +
						'<p class="list-con-l">' +
							'<span class="list-con1">' + devName + '</span>'+
							'<span class="list-con2"><%=__("label.mac")%><span class="mac" data-value="' + client.macAddress +'">' + client.macAddress + '</span></span>' +
						'</p>' +
						'<p class="list-con-r color-blue add-white-item" data-value="' + client.macAddress +'"></p>' +
					'</div>' +
        '</li>';
    }
    else{
      if(client.status){
        return '<a href="/sysUpgrade/?keyBack=1&' + param + '" class="list-item"><li class="list-item" data-value="' + client.macAddress +'">' +
					'<div class="left-con"><i class="verdor-icon ' + vendor + '"></i></div>' +
					'<div class="right-con">' +
						'<p class="list-con-l">' +
							'<span class="list-con1">' + devName + '</span>'+
							'<span class="list-con2"><%=__("label.mac")%><span class="mac" data-value="' + client.macAddress +'">' + client.macAddress + '</span></span>' +
						'</p>' +
						'<p class="list-con-r color-blue add-white-item" data-value="' + client.macAddress +'"></a>' + btn.delete + '</p>' +
					'</div>' +
        '</li>';
      }
      else{
        return '<li class="list-item" data-value="' + client.macAddress +'">' +
					'<div class="left-con"><i class="verdor-icon ' + vendor + '"></i></div>' +
					'<div class="right-con">' +
						'<p class="list-con-l">' +
							'<span class="list-con1">' + devName + '</span>'+
							'<span class="list-con2"><%=__("label.mac")%><span class="mac" data-value="' + client.macAddress +'">' + client.macAddress + '</span></span>' +
						'</p>' +
						'<p class="list-con-r color-blue add-white-item" data-value="' + client.macAddress +'">' + btn.delete + '</p>' +
					'</div>' +
        '</li>';
      }
    }
  }

  function initList(clients){
    meshListObj.empty();

    var len = clients.length;
    for (var i = 0; i < len; i++){
      if(clients[i].interface=="mesh")
      {
        meshTitleObj.show();
        meshListObj.append(initMeshEntry(clients[i]));
      } 
    }
    $(".add-white-item").click(function(){
      var node = $(this).parents("#meshList li");
      var delMac = node.attr("data-value");
      var msg = label.del+ "?\n" + label.meshNode + ":" + delMac
      showConfirm(msg, function(choose){

        /*
          // check callService meshManage
          "args":  {
            cmd: "add",
            macAddress :”80:3F:5D:11:22:33”,
            name : “living1”
          }
        */
        if(choose){
          var callSvcArg = {};
          callSvcArg.cmd = "del"
          callSvcArg.macAddress = delMac;

          var reqJson = JSON.stringify(callSvcArg)
          var reqStr = window.btoa(reqJson)
          try {
            if(wcloud_app_type=="ios")
              webkit.messageHandlers.meshManage.postMessage({callback:'finishDeleteMesh', req: reqStr});
            else
            {
              var jsReq = {callback:'finishDeleteMesh', req: callSvcArg };
              window.messageHandlers.meshManage(JSON.stringify(jsReq));  // android
            }              
            showLoading(label.saving);
          } catch(error) {
            alert(errStr.invRequestFail)
          }
        }
      });
    });    
  }

$("i.add-orange").click(function(){
  window.location.href = "v03.001/addMesh"
});

  </script>