<style type="text/css">
	div.signal-bg{
		width:3.27rem;
		height:2.07rem;
		margin:auto;
		margin-top:3.423rem;
		background:url(/luci-static/images/signal_bg.png) no-repeat;
		background-size:contain;
	}
	div.signal-selcet{
		width:0.528rem;
		height:0.685rem;
		top:-0.526rem;
		left:0.315rem;
		object-fit:contain;
		position:absolute;
		background:url(/luci-static/images/signal_ok.png) no-repeat;
		background-size:contain;
	}
	div.signal-first{
		left:0.6rem;
	}
	div.signal-second{
		left:3.9rem;
	}
	div.signal-third{
		left:7.2rem;
	}
	div.signal-set{
		width:7.9rem;
		height:0.926rem;
		border-radius:0.463rem;
		margin:auto;
		background-color:#ffffff;
		border:solid 1px #dedede;
		position:relative;
	}
	div.signal-line{
		width:6.706rem;
		height:0.144rem;
		margin:0.379rem auto;
		border-radius:4px;
		background-color:#f0f0f0;
		border:solid 1px #dedede;
	}
	ul.signal{
		width:9.686rem;
		margin-left:-0.85rem;
		margin-top:0.297rem;
		text-align:center;
		position:absolute;
	}
	li.signal{
		display:inline-block;
		width:2.985rem;
		position:relative;
		top:-0.26rem;
	}
	li div.signal-dis{
		width:0.271rem;
		height:0.271rem;
		margin:auto;
		top:-0.2rem;
		border-radius:50%;
		background-color:#ffffff;
		border:solid 1px #dedede;
		position:relative;
		z-index:999;
		cursor:pointer;
	}
	li div.signal-en{
		width:0.488rem;
		height:0.488rem;
		margin:auto;
		border-radius:50%;
		background-color:#3d65a3;
		top:0.2rem;
		position:relative;
	}
	li span.signal-dis{
		font-size:0.324rem;
		color:#2a2c32;
		opacity:0.7;
		margin-top:0.2rem;
		display:inline-block;
	}
	li span.signal-en{
		font-size:0.324rem;
		color:#2a2c32;
		opacity:1;
		margin-top:0.2rem;
		display:inline-block;
	}
	div.err-note{
		margin:0.556rem auto;
	}
</style>

<script type="text/javascript">
  var wcloud_app_type = ""
  var userAgent = window.navigator.userAgent
  if (userAgent=="wcloud_app_ios")
    wcloud_app_type = "ios"
  else if (userAgent=="wcloud_app_android") 
    wcloud_app_type = "android"
  else 
  {
    window.location.href ="/error"
  }
</script>

<div class="head-con">
	<a href="javascript:history.go(-1);" class="head-btn-l"><i class="head-btn icon icon_back"></i></a>
	<h1 class="head-title"><%=__('label.signalCondition')%></h1>
</div>
<div class="set-con below-head">
	<div class="signal-bg"></div>
	<div class="signal-set">
		<div id="SignalSelect" class="signal-selcet"></div>
		<ul class="signal">
			<li class="signal signal-first">
				<div id="SignalFirstSel" class="signal-en hidden"></div>
				<div id="SignalFirstBtn" class="signal-dis" data-value="1"></div>
				<span id="SignalFirstTip" class="signal-dis"><%=__('label.signalIntensity1')%></span>
			</li>
			<li class="signal signal-second">
				<div id="SignalSecondSel" class="signal-en hidden"></div>
				<div id="SignalFirstBtn" class="signal-dis" data-value="2"></div>
				<span id="SignalSecondTip" class="signal-dis"><%=__('label.signalIntensity2')%></span>
			</li>
			<li class="signal signal-third">
				<div id="SignalThridSel" class="signal-en hidden"></div>
				<div id="SignalFirstBtn" class="signal-dis" data-value="3"></div>
				<span id="SignalThridTip" class="signal-dis"><%=__('label.signalIntensity3')%></span>
			</li>
		</ul>
		<div class="signal-line"></div>
	</div>
  <ul class="blank-bg"></ul>
	<div class="err-note hidden">
		<i class="err-icon icon_remind_line"></i>
		<p class="note-str"></p>
	</div>
  <div class="btn-con">
    <input id="Save" class="btn" type="button" value="<%=__('btn.save')%>" />
  </div>
</div>

<script type="text/javascript">


function signalInit(val){
  $("div.signal-en").hide();
  $("span.signal-dis").removeClass("signal-en");
  $("#SignalSelect").removeClass("signal-first").removeClass("signal-second").removeClass("signal-third");
  if ("1" == val){
    $("#SignalSelect").addClass("signal-first");
    $("#SignalFirstTip").addClass("signal-en");
    $("#SignalFirstSel").show();
  }else if("2" == val){
    $("#SignalSelect").addClass("signal-second");
    $("#SignalSecondTip").addClass("signal-en");
    $("#SignalSecondSel").show();
  }else{
    $("#SignalSelect").addClass("signal-third");
    $("#SignalThridTip").addClass("signal-en");
    $("#SignalThridSel").show();
  }
}
var siganlSwitch = 0;

function pageLoad()
{
  getWifiSignal()
}

function logout()
{
  try {
    if(wcloud_app_type=="ios")
        webkit.messageHandlers.logout.postMessage("");
    else 
        window.messageHandlers.logout("");  // android
  } catch(error) {
    alert(errStr.invRequestFail)
  }
}

function getWifiSignal()
{
  // call webkit code here, ios app will call updateStatus 
  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.getWifiSignal.postMessage({callback:'gotWifiSignal', req:''});
    else
		{
			var jsReq = {callback:'gotWifiSignal', req: '' };
			window.messageHandlers.getWifiSignal(JSON.stringify(jsReq));  // android
		}

    showLoading(label.loading);
  } catch(error) {
    alert(errStr.invRequestFail)
  }

}

function gotWifiSignal(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);
  
  if(res.resCode==0)
  {
    // just 24g_strength
    if(res.result.wifiSignal.wlan24g_strength<11)
      siganlSwitch = 1;
    else if(res.result.wifiSignal.wlan24g_strength<75)
      siganlSwitch = 2;
    else
      siganlSwitch = 3;
    signalInit(siganlSwitch);
  }
  else
  if(res.resCode==401) logout(); 

  closeLoading();
}

function finishWifiSignal(result)
{
	var resultData = window.atob(result);
	var res = JSON.parse(resultData);

	if(res.resCode==0)
	{
		showLoading(label.saving);
		setTimeout(closeLoading, 6000);
	}
	else {
		if(res.resCode==401) logout();
		closeLoading();	
	} 
}

$("li div.signal-dis").click(function(){
  siganlSwitch = $(this).attr("data-value");
  console.log(siganlSwitch)
  signalInit(siganlSwitch);
});

function saveSignal(para){
  showLoading(label.saving);
  apiSet(para, function(ret){
    var code = ret[ERR_CODE];
    handleError(code, showNote)?closeLoading():refreshSignal(ret);
  });
}
function refreshSignal(ret){
  if("1" == rebootConfirm){
    $.setTimeout(function(){
      closeLoading();
      window.location.href = "http://" + ROUTER.domain;
    }, ROUTER.time.reboot);
  }else{
    var time = getMaxWaitTime(ret);
    $.setTimeout(function(){
      closeLoading();
    }, time * 1000);
  }
}

$("#Save").click(function(){
  var setAttrReq = {}

  switch(siganlSwitch*1)
  {
    case 1 : 
      setAttrReq.wlan24g_strength  = 10;
      setAttrReq.wlan5g_strength  = 10;
      break;
    case 2 : 
      setAttrReq.wlan24g_strength  = 70;
      setAttrReq.wlan5g_strength  = 70;
      break;
    default : 
      setAttrReq.wlan24g_strength  = 100;
      setAttrReq.wlan5g_strength  = 100;
      break;
  }

  showConfirm(label.signalConditionRebootTip, function(choose){
      if (choose){
        var reqJson = JSON.stringify(setAttrReq)
        var reqStr = window.btoa(reqJson)
        try {
          if(wcloud_app_type=="ios")
            webkit.messageHandlers.setWifiSignal.postMessage({callback:'finishWifiSignal', req: reqStr});
          else
					{
						var jsReq = {callback:'finishWifiSignal', req: setAttrReq };
						window.messageHandlers.setWifiSignal(JSON.stringify(jsReq));  // android
					}
            
          showLoading(label.saving);
        } catch(error) {
          alert(errStr.invRequestFail)
        }
      }
  });

});  


</script>