<style type="text/css">
	li.select-con{
		width:1.25rem;
	}
	li.text-con span.select{
		width:80% !important;
		padding:0 0.05rem;
	}
	i.tip_select{
		position:absolute;
		right:0.05rem;
		top:0.15rem;
		font-size:0.8rem;
	}
	span.time-to{
		display:inline-block;
		vertical-align:middle;
		font-size:0.417rem;
		color:#4F5356;
	}
	ul.sel-list {
		overflow:auto;
		height:4.4rem;
	}
	label.desc-lbl{
		width:40%;
	}
	ul.set-con input.text{
		width:5rem;
	}
	ul.set-con input.text-eye{
		width:4.25rem;
		padding-right:1rem;
	}
	span.speed-unit{
		position:absolute;
		right:.25rem;
		font-size:.4rem;
		color:rgb(87, 87, 87);
		line-height:1rem;
	}
	ul.speed-limit input.speed-limit{
		width:4.25rem;
		padding-right:1rem;
	}
</style>
<script type="text/javascript">
  var wcloud_app_type = ""
  var userAgent = window.navigator.userAgent
  if (userAgent=="wcloud_app_ios")
    wcloud_app_type = "ios"
  else if (userAgent=="wcloud_app_android") 
    wcloud_app_type = "android"
  else 
  {
    window.location.href ="/error"
  }
</script>

<script type="text/javascript">

	function checkSsid(ssid){
		var err = checkStrFormat(ssid,"invalidSsid");
		switch(err){
			case E_STRINGBLANK:
				return eval("E_GUEST5G_SSID_BLANK");
			case E_STRINGFORMAT:
				return eval("E_GUEST_PWD_ILLEGAL");
		}

		if (checkStrLen(ssid, 31, 1) != E_NONE){
			return eval("E_GUEST_SSID_LEN");
		}

		return E_NONE;
	}

	function checkPwd(password){
		var err = checkStrFormat(password, "invalidPass");
		switch(err){
		case E_STRINGBLANK:
			return E_NONE;
		case E_STRINGFORMAT:
			return eval("E_GUEST_PWD_ILLEGAL");
		}

		if (checkStrLen(password, 63, 8) != E_NONE){
			return eval("E_GUEST_PWD_LEN");
		}

		return E_NONE;
	}

	function checkSpeed(speed, limitType){
		bEditing = false;
		var err = checkNumNew(speed, 0, 10000);

		if ("" == speed){
			return E_NONE;
		}

		switch(err){
		case E_NUMFORMAT:
			return eval("E_GUEST_"+limitType+"_LIMIT_ILLEGAL");
		case E_NUMRANGE:
			return eval("E_GUEST_"+limitType+"_LIMIT_RANG");
		}

		return E_NONE;
	}

	function handleGuestError(errCode, callback, smart){
		var newErrCode = errCode;
		if(smart && parseInt(smart)){
			switch(errCode){
				case E_GUESET_SSID_WIFI2G_SAME:
				case E_GUESET_SSID_WIFI5G_SAME:
					newErrCode = E_GUESET_SSID_WIFI2G_SAME_SMART;
					break;
			}
		}
		return handleError(newErrCode, callback);
	}
</script>

<div class="head-con">
	<a href="javascript:history.go(-1);" class="head-btn-l"><i class="head-btn icon icon_back"></i></a>
	<h1 class="head-title"><%=__('label.guestNet')%></h1>
</div>
<div class="set-con below-head">
	<ul class="blank-bg"></ul>
	<ul class="set-con set-switch">
		<label class="desc-lbl"><%=__('label.guestNet')%></label>
		<span id="Switch" class="switch">
			<i class="switch-circle"></i>
		</span>
	</ul>
	<div id="Param" class="hidden">
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.wirelessName')%></label>
			<li class="text-con">
				<input id="VisitorSsid" class="text hover" maxLength="32" value="" />
			</li>
		</ul>
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.wifiPwd')%></label>
			<li class="text-con">
				<input id="VisitorPwd" class="text hover" maxLength="63" value="" /><i class="tip icon-eye" data-value="0"></i>
			</li>
		</ul>
		<ul class="set-con time-switch">
			<label class="desc-lbl switch"><%=__('label.timingSwitch')%></label>
			<span id="TimeSwitch" class="switch">
				<i class="switch-circle"></i>
			</span>
		</ul>
		<ul  id="TimeSet" class="set-con time-switch">
			<label class="desc-lbl"><%=__('label.closeTimePeriod')%></label>
			<li class="text-con select-con">
				<span id="CloseHour" class="select" data-value="0">
					<span class="select-value"></span>
					<i class="tip_select icon_list-expansion"></i>
				</span>
			</li>
			<li class="text-con select-con">
				<span id="CloseMin" class="select" data-value="0">
					<span class="select-value"></span>
					<i class="tip_select icon_list-expansion"></i>
				</span>
			</li>
			<span class="time-to"><%=__('label.colon')%></span>
			<li class="text-con select-con">
				<span id="OpenHour" class="select" data-value="0">
					<span class="select-value"></span>
					<i class="tip_select icon_list-expansion"></i>
				</span>
			</li>
			<li class="text-con select-con">
				<span id="OpenMin" class="select" data-value="0">
					<span class="select-value"></span>
					<i class="tip_select icon_list-expansion"></i>
				</span>
			</li>
		</ul>
		<ul class="set-con speed-limit">
			<label class="desc-lbl switch"><%=__('label.guestSpeedLimit')%></label>
			<span id="SpeedLimit" class="switch">
				<i class="switch-circle"></i>
			</span>
		</ul>
		<div id="SpeedSet" class="hidden">
			<ul class="set-con speed-limit">
				<label class="desc-lbl"><%=__('label.guestUploadLimit')%></label>
				<li class="text-con">
					<input id="UploadLimit" class="text hover speed-limit" maxLength="32" value="" />
					<span class="speed-unit">KB/s</span>
				</li>
			</ul>
			<ul class="set-con speed-limit">
				<label class="desc-lbl"><%=__('label.guestDownloadLimit')%></label>
				<li class="text-con">
					<input id="DownloadLimit" class="text hover speed-limit" maxLength="32" value="" />
					<span class="speed-unit">KB/s</span>
				</li>
			</ul>
		</div>
	</div>
	<ul class="blank-bg"></ul>
	<div class="err-note hidden">
		<i class="err-icon icon_remind_line"></i>
		<p class="note-str"></p>
	</div>
	<div class="btn-con">
		<input id="Save" class="btn" type="button" value="<%=__('btn.save')%>" />
	</div>
</div>

<script type="text/javascript">
var smartConnectEnabled = 0;  // just turn off

function pageLoad()
{
  getGuestSetting()
}

function logout()
{
  try {
    if(wcloud_app_type=="ios")
        webkit.messageHandlers.logout.postMessage("");
    else 
        window.messageHandlers.logout("");  // android
  } catch(error) {
    alert(errStr.invRequestFail)
  }
}

function getGuestSetting()
{
  // call webkit code here, ios app will call updateStatus 
  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.getGuestSetting.postMessage({callback:'gotGuestSetting', req:''});
    else
    {
      var jsReq = {callback:'gotGuestSetting', req: '' };
      window.messageHandlers.getGuestSetting(JSON.stringify(jsReq));  // android
    }
    showLoading(label.loading);
  } catch(error) {
      alert(errStr.invRequestFail)
  }
}

function gotGuestSetting(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);
  
  // don't use time and speed limt
  $("ul.time-switch").hide();
  $("ul.speed-limit").hide();

  if(res.resCode==0)
  {
    $("#VisitorSsid").val(res.result.guestSetting.SSID);
	  $("#VisitorPwd").val(res.result.guestSetting.keyPassphrase);    
    initSwitch("Switch", res.result.guestSetting.enable, function(state){
			closeNote();

			if (1 == state){
				$("#Param").show();
			}else{
				$("#Param").hide();
			}
    });
  }
  else
  if(res.resCode==401) logout(); 

  closeLoading();
}

$(".icon-eye").click(function(){
		var val = $(this).attr("data-value");
		if (0 == val){
			$(this).attr("data-value", "1").removeClass("icon_eye_close").addClass("icon_eye_open");
			$(this).prev('input').attr("type", "text");
		}else{
			$(this).attr("data-value", "0").removeClass("icon_eye_open").addClass("icon_eye_close");
			$(this).prev('input').attr("type", "password");
		}
	}).each(function(){
		var val = $(this).attr("data-value") || 0;

		if (1 == val){
			$(this).attr("data-value", "1").removeClass("icon_eye_close").addClass("icon_eye_open");
			$(this).prev('input').attr("type", "text").addClass("text-eye");
		}else{
			$(this).attr("data-value", "0").removeClass("icon_eye_open").addClass("icon_eye_close");
			$(this).prev('input').attr("type", "password").addClass("text-eye");
		}
	});


$("#Save").click(function(){
		if (0 == $("#Switch").attr("data-value")){
			showConfirm(label.closeGuest, function(choose){
				if (choose){
					saveGuest();
				}
			});
		}else{
			saveGuest();
		}
});

function finishGuestSetting(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);

  if(res.resCode==0)
  {
    closeNote();
	closeLoading();	
  }
  else {
    if(res.resCode==401) logout();
    closeLoading();	
  } 
}

function saveGuest(){

  var setAttrReq = {}
  setAttrReq.enable = parseInt($("#Switch").attr("data-value"))
  setAttrReq.SSID = $("#VisitorSsid").val();
  setAttrReq.keyPassphrase = $("#VisitorPwd").val(); 

  if (1 == setAttrReq.enable && handleGuestError(checkSsid(setAttrReq.SSID), showNote, smartConnectEnabled)){
      return;
  }
  if (1 == setAttrReq.enable && handleGuestError(checkPwd(setAttrReq.keyPassphrase), showNote, smartConnectEnabled)){
      return;
  }
  
  var reqJson = JSON.stringify(setAttrReq)
  var reqStr = window.btoa(reqJson)
  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.setGuestSetting.postMessage({callback:'finishGuestSetting', req: reqStr});
    else
    {
      var jsReq = {callback:'finishGuestSetting', req: setAttrReq };
      window.messageHandlers.setGuestSetting(JSON.stringify(jsReq));  // android
    }
  
    showLoading(label.saving);
  } catch(error) {
    alert(errStr.invRequestFail)
  }

}

</script>
