
<% if (menuid!="error") { %>
<ul class="menu">
    <a href="/v04.001/status" data-active="netState" <% if (menuid=="status") { %> class="active" <% } %> ><li class="menu-item">
      <i class="icon icon_state icon_state_up" data-down="icon_state_down"></i><p><%=__('label.Status')%></p>
    </li></a>
    <a href="/v04.001/deviceManage" data-active="deviceManage" <% if (menuid=="deviceManage") { %> class="active" <% } %> ><li class="menu-item">
      <i class="icon icon_terminal" data-down="icon_terminal_down"></i><p><%=__('label.Clients')%></p>
    </li></a>
    <a href="/v04.001/wifiset" data-active="wifiSet" <% if (menuid=="wifiSet") { %> class="active" <% } %> ><li class="menu-item">
      <i class="icon icon_wirelessl" data-down="icon_wirelessl_down"></i><p><%=__('label.Wireless')%></p>
    </li></a>
    <a href="/v04.001/app" data-active="App"  <% if (menuid=="app") { %> class="active" <% } %> ><li class="menu-item">
      <i class="icon icon_set" data-down="icon_set_down"></i><p><%=__('label.Advanced')%></p>
    </li></a>
  </ul> 
<% } %> 