
  <style type="text/css">
    div.upgrade-head{
      margin-top:9.397rem;
    }
    div.no-bottom-line{
      border-bottom-width:0;
    }
    h1.head-title{
      color:#FFF;
      border-bottom:0;
    }
    a.head-btn-l{
      color:#FFF;
    }
    .state-init{
      background-color:#2DAAAE !important;
    }
    .state-ok{
      background-color:#2DAAAE !important;
    }
    .state-warn{
      background-color:#EE5859 !important;
    }
    div.running-con{
      position:fixed;
      overflow:hidden;
      height:7.87rem;
      top:1.111rem;
      width:100%;
    }
    div.running-con div.outer-circle{
      position:relative;
      width:5.212rem;
      height:5.212rem;
      border-color:rgba(255, 255, 255, 0.25);
      margin-top:1.329rem;
    }
    div.middle-circle{
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;
      width:4.65rem;
      height:4.65rem;
      margin:auto;
      border-radius:50%;
      background-size:contain;
      text-align:center;
    }
    input.start{
      position:absolute;
      bottom:0.45rem;
      left:0;
      right:0;
      margin:auto;
      color:#FFF;
      background-color:transparent;
      font-size:0.4rem;
      width:100%;
      border-width:0;
    }
    div.state-init div.middle-circle{
      background-color:#30ADB2;
      background-image:url(/luci-static/images/upgrade_rocket.png);
    }
    div.state-ok div.middle-circle{
      background-color:#30ADB2;
      background-image:url(/luci-static/images/upgrade_rocket.png);
    }
    div.state-warn div.middle-circle{
      background-color:#F06261;
      background-image:url(/luci-static/images/upgrade_rocket.png);
    }
    div.running-con i.circle{
      background-color:#FFF;
    }
    #Status{
      font-size:0.425rem;
      color:#FFF;
      text-align:center;
      position:relative;
      margin-top:-0.2rem;
    }
    #SwVersion{
      font-size:0.425rem;
      color:#9E9E9E;
      text-align:center;
      top:2rem;
      position:relative;
    }
    div.detail-con{
      margin:0.5rem;
    }
    p.detail{
      color:#585858;
      font-size:0.416rem;
    }
    #NewSwLog{
      color:#9E9E9E;
      font-size:0.333rem;
    }
    #ManualUpgrade p.detail{
      margin-left:1.75rem;
    }
    i.dog{
      display:inline-block;
      position:absolute;
      width:1.5rem;
      height:1.5rem;
      background-image:url(/luci-static/images/dog.png);
      background-repeat:no-repeat;
      background-size:contain;
    }
  </style>

<script type="text/javascript">
  var wcloud_app_type = ""
  var userAgent = window.navigator.userAgent
  if (userAgent=="wcloud_app_ios")
    wcloud_app_type = "ios"
  else if (userAgent=="wcloud_app_android") 
    wcloud_app_type = "android"
  else 
  {
    window.location.href ="/error"
  }
</script>

  <div class="head-con no-bottom-line state-init">
    <a href="javascript:history.go(-1);" class="head-btn-l"><i class="head-btn icon icon_back"></i></a>
    <h1 class="head-title"><%=__('label.sysUpgrade')%></h1>
  </div>
  <div class="running-con state-init" id="CircleCon">
    <div class="outer-circle">
      <div id="Check" class="middle-circle">
        <input type="button" class="start" value="<%=__('btn.checkUpdate')%>" />
      </div>
      <div class="inside-circle hidden"><i class="circle"></i></div>
    </div>
    <p id="Status"></p>
  </div>
  <div class="set-con upgrade-head">
    <p id="SwVersion"><span><%=__('label.swVersion')%><%=__('label.colon')%></span><span id="curSwVer1"></span></p>
    <div id="DetailCon" class="hidden">
      <div class="detail-con">
        <p class="detail"><span><%=__('label.curSwVer')%></span><span id="CurSwVer2"></span></p>
        <p class="detail"><span><%=__('label.newSwVer')%></span><span id="NewSwVer"></span></p>
        <p class="detail"><%=__('label.upgradeLog')%></p>
        <p class="detail" id="NewSwLog"></p>
      </div>
      <div class="btn-con">
        <input id="Upgrade" class="btn" type="button" value="<%=__('btn.upgrade')%>" />
      </div>
    </div>
    <div id="ManualUpgrade" class="detail-con hidden">
      <i class="dog"></i>
      <p class="detail"><%=__('label.loginPcUpgrade')%></p>
      <p class="detail"><%=__('label.lanWebSite')%></p>
    </div>
    <div class="err-note hidden">
      <i class="err-icon icon_remind_line"></i>
      <p class="note-str"></p>
    </div>
  </div>


<script type="text/javascript">
  function getUrlParams() {
      var params = {};
      window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) {
        if(key.indexOf("%5B%5D")!=-1){
          keyname = key.replace("%5B%5D","");
          if(params[keyname] == null)
            params[keyname]=[];
          params[keyname].push(value);
        }
        else
         params[key] = value; 
        });
      return params;
  } 
var param = getUrlParams();
var client = {};
for (var k in param){
var key = decodeURIComponent(k);
var val = decodeURIComponent(param[k]);
// if(key == "timeSchedule"){
//   var time = val.replace(/(\d+),(\d+:\d+-\d+:\d+),/g,"$1,$2\;");
//   var timeSchedule = time.split(";");
//   client[key] = timeSchedule;
// }
// else
  client[key] = val;
}

var curFirmwareVer = "";
var modelName = "";

function pageLoad()
{
  getStatus()
}

function logout()
{
  try {
    if(wcloud_app_type=="ios")
        webkit.messageHandlers.logout.postMessage("");
    else 
        window.messageHandlers.logout("");  // android
  } catch(error) {
    alert(errStr.invRequestFail)
  }
}



function getStatus()
{
  // call webkit code here, ios app will call updateStatus 
  try {
    if(wcloud_app_type=="ios")
        webkit.messageHandlers.getStatus.postMessage({callback:'gotStatus', req:''});
    else
    {
		  var jsReq = {callback:'gotStatus', req:''};
			window.messageHandlers.getStatus(JSON.stringify(jsReq));  // android
		}
    showLoading(label.loading);
  } catch(error) {
    alert(errStr.invRequestFail)
  }
}

function gotStatus(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);
  
  if(res.resCode==0)
  {
    curFirmwareVer = res.result.device.SdkVersion
    modelName = res.result.device.ModelName
    $("#curSwVer1").html(curFirmwareVer);
    $("#curSwVer2").html(curFirmwareVer);    
  }
  else
  if(res.resCode==401) logout(); 

  closeLoading();
}

/*
{
  "resCode" : 0,
  "SoftwareVersion" : "new firmware",
  "firmwareUrl" : "http://wavlink.com/download/firmware.bin",
  "releaseLog" : "sample test\ntest "
}
*/
function gotFirmwareInfo(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);
  $(".inside-circle").hide();

  switch (res.resCode) {
    case 0 :
      $("#SwVersion").hide();
      var New="";
      var Current="";
      var NewSwVer = res.result.SoftwareVersion;
      if(NewSwVer!=undefined){
        New = NewSwVer.substring(NewSwVer.length-6, NewSwVer.length);
      }
      if(curFirmwareVer!=undefined){
        Current = curFirmwareVer.substring(curFirmwareVer.length-6, curFirmwareVer.length);
      }
      if(Number(New)>Number(Current) && NewSwVer!=undefined)
      {
        $(".head-con").removeClass("state-init state-warn").addClass("state-ok");
        $(".running-con").removeClass("state-init state-warn").addClass("state-ok");
        $("#Status").text(label.hasNewSw);
        $("#CurSwVer2").html(curFirmwareVer);
        $("#NewSwVer").html(NewSwVer);

        var log = unescape(res.result.releaseLog.replace(/#x/g,'%u').replace(/\n/g,'<br>'));
        $("#NewSwLog").html(log);
        $("#DetailCon").show();
        $("#ManualUpgrade").hide();
      }
      else // no new version
      {
        $("#Status").text(label.swIsNewest);
        $("#DetailCon").hide();
        $("#ManualUpgrade").hide();
      }

      $(".head-con").removeClass("state-init state-warn").addClass("state-ok");
      $(".running-con").removeClass("state-init state-warn").addClass("state-ok");

      break
    case 401 : 
      logout();
      break;
    default : 
      $(".head-con").removeClass("state-init state-ok").addClass("state-warn");
      $(".running-con").removeClass("state-init state-ok").addClass("state-warn");
      $("#Status").text(label.checkFail);
      $("#DetailCon").hide();
      break;
  }
  $("input.start").val(btn.reCheckUpdate).show();
  $("#Check").click(startCheck);
}

function startCheck(){
  $("#Check").unbind("click");
  $("input.start").hide();

  $("#DetailCon").hide();
  $("#ManualUpgrade").hide();
  $(".head-con").removeClass("state-warn state-ok").addClass("state-init");
  $(".running-con").removeClass("state-warn state-ok").addClass("state-init");
  $(".inside-circle").show();
  $("#Status").text(label.upgradeChecking);

  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.checkUpgrade.postMessage({callback:'gotFirmwareInfo', req:''});
    else
    {
		  var jsReq = {callback:'gotFirmwareInfo', req:''};
			window.messageHandlers.checkUpgrade(JSON.stringify(jsReq));  // android
		}

  } catch(error) {
    alert(errStr.invRequestFail)
  }
}
  
$("#Check").click(startCheck);

function reconnectMsg()
	{
		closeLoading();	
		alert(label.reconnectMsg);
		logout();
	}

function finishUpgrage(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);

  if(res.resCode==0)
  {
		setTimeout(reconnectMsg, 150000);
  }
  else
  if(res.resCode==401) logout(); 
  else
  {
    setTimeout(reconnectMsg, 150000);
    // closeLoading();
    // alert(label.upgradeFailed)
  }
}

// request
/*
{
 "service":"startUpgrade", 
 "transNo":"", 
  "args":  {
    firmwareUrl:"https://123.123.123.123/download/firmware.bin",
    model :"1234567890"
  }
}
*/

$("#Upgrade").click(function(){
  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.startUpgrade.postMessage({callback:'finishUpgrage', req:''});
    else
    {
		  var jsReq = {callback:'finishUpgrage', req:''};
			window.messageHandlers.startUpgrade(JSON.stringify(jsReq));  // android
		}

    showLoading(label.upgrading)
  } catch(error) {
    alert(errStr.invRequestFail)
  }    

});
  

</script>