<style type="text/css">
	span.select-width{
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		width:80%;
		position:absolute;
	}
	ul.sel-list li.sel-item{
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		width:97%;
		border-bottom:1px solid #dcdcdc;
	}
	ul.sel-list{
		overflow:auto;
		max-height:4.4rem;
	}
</style>

<script type="text/javascript">
  var wcloud_app_type = ""
  var userAgent = window.navigator.userAgent
  if (userAgent=="wcloud_app_ios")
    wcloud_app_type = "ios"
  else if (userAgent=="wcloud_app_android") 
    wcloud_app_type = "android"
  else 
  {
    window.location.href ="/error"
  }
</script>

<div class="head-con">
	<a href="javascript:history.go(-1);" class="head-btn-l"><i class="head-btn icon icon_back"></i></a>
	<h1 class="head-title"><%=__('label.regionTimeZone')%></h1>
</div>
<div class="set-con below-head">
	<ul class="blank-bg"></ul>
	<ul class="set-con hidden">
		<label class="desc-lbl"><%=__('label.region')%></label>
		<li class="text-con">
			<span id="Area" class="select">
				<span class="select-value select-width"></span>
				<i class="tip icon_list-expansion"></i>
			</span>
		</li>
	</ul>
	<ul class="set-con">
		<label class="desc-lbl"><%=__('label.timeZone')%></label>
		<li class="text-con">
			<span id="Region" class="select">
				<span class="select-value select-width"></span>
				<i class="tip icon_list-expansion"></i>
			</span>
		</li>
	</ul>
	<ul class="blank-bg"></ul>
	<div class="err-note hidden">
		<i class="err-icon icon_remind_line"></i>
		<p class="note-str"></p>
	</div>
	<div class="btn-con">
		<input id="Save" class="btn" type="button" value="<%=__('btn.save')%>" />
	</div>
</div>

<script type="text/javascript">
var areaList = TIMEZONE.getAreaList();
var regionListAll = TIMEZONE.getRegionListAll();

function getTimeZone()
{
  // call webkit code here, ios app will call updateStatus 
  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.getTimeZone.postMessage({callback:'gotTimeZone', req:''});
    else
    {
		  var jsReq = {callback:'gotTimeZone', req:''};
			window.messageHandlers.getTimeZone(JSON.stringify(jsReq));  // android
		}    
    
    showLoading(label.loading);
  } catch(error) {
    alert(errStr.invRequestFail)
  }
}

/*
  native code will return like
  var result = {
    "resCode" : 0,
    "result" : {
        "timeSetting" : {
        "enable" : 1,
        "localTimeZone" : "10800",
        "localTimeZoneName" : "AS"
    }
  }
*/

function GMTtoRegion(gmttime)
{

}
function gotTimeZone(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);
  
  if(res.resCode==0)
  {
    var selRegion = id("Region");
    var time_zone = res.result.timeSetting.localTimeZone;
    var a_tzone=time_zone;
    var p_tzone = new Array();
    var s_tzone = "";
    if(res.result.timeSetting.daylightSavingsUsed==1){
      p_tzone = a_tzone.split(":");
      s_tzone = p_tzone[0].match(/.*(.{3})/)[1];
      s_tzone = s_tzone*1;
      s_tzone = s_tzone+1;
      if(s_tzone>=0){
        if(s_tzone >= 10){
          time_zone = "UTC"+"+"+s_tzone+":"+p_tzone[1];
        }else{
          time_zone = "UTC"+"+"+"0"+s_tzone+":"+p_tzone[1];
        }
          
      }else  { 
        s_tzone = Math.abs(s_tzone); 
        if(s_tzone >= 10){
          time_zone = "UTC"+"-"+s_tzone+":"+p_tzone[1];
        }else{
          time_zone = "UTC"+"-"+"0"+s_tzone+":"+p_tzone[1];
        }
        
      }
    }

    initSelect("Region", regionListAll, time_zone);
    // initSelect("Area", areaList, res.result.timeSetting.localTimeZoneName, function(val, init){
    //   var regionList = TIMEZONE.getRegionList(val);
    //   if (ROUTER.areaList.length == 1){
    //     id("Area").disable(true);
    //   }

    //   if (init){
    //     selRegion.resetOptions(regionList, res.result.timeSetting.localTimeZone);
    //   }else{
    //     selRegion.resetOptions(regionList, regionList[0].value);
    //   }
    // });		
  }
  else
  if(res.resCode==401) logout(); 

  closeLoading();
}

function pageLoad()
{
  getTimeZone()
}
  
function logout()
{
  try {
    if(wcloud_app_type=="ios")
        webkit.messageHandlers.logout.postMessage("");
    else 
        window.messageHandlers.logout("");  // android
  } catch(error) {
    alert(errStr.invRequestFail)
  }
}

function finishTimeZone(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);

  if(res.resCode==0)
  {
    closeLoading();	
  }
  else {
    if(res.resCode==401) logout();
    closeLoading();	
  } 
}

$("#Save").click(function(){

  var setAttrReq = {}
  setAttrReq.enable = 1
  setAttrReq.localTimeZone = $("#Region").attr("data-value");
  // setAttrReq.localTimeZoneName = $("#Area").attr("data-value");    

  var reqJson = JSON.stringify(setAttrReq)
  var reqStr = window.btoa(reqJson)
  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.setTimeZone.postMessage({callback:'finishTimeZone', req: reqStr});
    else
    {
		  var jsReq = {callback:'finishTimeZone', req: setAttrReq};
			window.messageHandlers.setTimeZone(JSON.stringify(jsReq));  // android
		}    
      
    showLoading(label.saving);
  } catch(error) {
    alert(errStr.invRequestFail)
  }
});
</script>