body{
  font-family: Arial;
}
span.head-title{
  font-size:18px;
}
div.alert{
  width:360px;
}
div.loading{
  width:340px;
}
p.loading-tip{
  margin-bottom:30px;
  text-align:left;
}
li.app-item p.app-name{
  font-size:14px !important;
  width: 12em;
}
.items {
  width: 250px !important;
}
ul.topology-desc{
  font-weight:bold;
}
p.alert-tip{
  text-align:left;
}
p.progress-bar-tip{
  text-align:left;
}
p.copyright{
  text-align:center !important;
}
div.info a{
  margin-right:auto !important;
}
div.route-info{
  text-align:left;
}
#DevMac{
  left:320px !important;
}
label.time-lbl{
  width:130px !important;
}
li.time-con{
  width:362px !important;
}
input.btn-time{
  width:362px !important;
}
label.pwd-lbl{
  width:144px !important;
  line-height:18px !important;
  height:auto !important;
}
li.pwd-con input.text-eye{
  width:156px !important;
}
#PwdErr i.err-icon {
  margin-left:0 !important;
}
#PwdTip{
  width:330px !important;
}
label.desc-lbl-guide{
  width:140px !important;
  line-height:16px !important;
  height:auto !important;
}
div.guide-btn-con{
  width:460px !important;
}
div.right-set-con div.err-note{
  margin-left:196px !important;
}
input.detect-btn{
  margin: 10px 0 10px 204px !important;
}
div.guide-sta{
  margin-left:200px !important;
}
li.text-con-guide{
  width:464px !important;
}
p.content{
  text-align:left;
}
p.content-list{
  text-align:left;
}
p.note-str{
  word-break:normal;
}
div.download-app{
  right: -70px !important;
}
p.set-con-desc{
  width: 420px !important;
}
li.step{
  vertical-align:top !important;
}
ul.pop-list{
  width:280px !important;
}
li.line-title{
  width:209px !important;
}
li.speed-limit{
  width:12% !important;
}
ul.list-head li{
  vertical-align:middle;
}
h2.status-title{
  left: 14px !important;
  width: 180px !important;
}
span.mac-clone{
  line-height:18px !important;
}
.boder-tr{
  height:45px !important;
  line-height: 20px !important;
}
.set-con-long{
  white-space:normal !important;
  vertical-align: middle;
}
.set-con-middle{
  white-space:normal !important;
  vertical-align: middle;
}
.set-con-short{
  white-space:normal !important;
  vertical-align: middle;
}
ul.week{
  width: 122px !important;
}
span.score{
  font-size: 0 !important;
}
span.radio-r{
  display: inline-block;
  margin-left: 0;
}
label.wisp-lbl{
  height: auto !important;
  line-height: 18px !important;
  margin-right: 23px !important;
}
div.upgrade{
  width: 530px !important;
}
div.upgrade-head h2.title{
  width: 360px !important;
}
div.upgrade-head{
  height: 64px !important;
}
h3.upgrade-log{
  position: inherit !important;
  top: 0 !important;
}
#log{
  margin-left: 25px !important;
}
li.app-item .app-icon{
  width: 60px !important;
  height: 60px !important;
}
li.allow-internet{
  text-align: left !important;
}
li.allow-internet p{
  text-align: left !important;
}
li.allow-internet span.self-host{
  display:inline-block;
  line-height:16px;
}
div.hotline-show{
  width: 250px !important;
}
li.txt-indent-little{
  text-indent: 0 !important;
}
li.ip-mac{
  width:20% !important;
}
p.internet-state{
  width: 180px !important;
}
div.internet-speed{
  left:420px !important;
}
span.help-title{
  display: inline-block;
  width: 223px;
}
label.wifi-name{
  display:none !important;
}
#ScanFile{
  width:500px !important;
}
li.speed-limit input.unlimit{
  width: 4.5em !important;
}