/* the stylesheet all page available */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, code, del,
dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, dialog, figure, footer, header, hgroup,
nav, section{
  border:0px;
  font:inherit;
  margin:0px;
  padding:0px;
  outline:none;
  vertical-align:baseline;
}
html{
  height:100%;
}
body{
  background-color:#FFF;
  height:100%;
  font-family:微软雅黑, 宋体, Arial;
  -webkit-text-size-adjust:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}
input{
  font-family:微软雅黑, 宋体, Arial;
  outline:none;
}
input.ime-mode-n{
  ime-mode:disabled;
}
ul{
  list-style:none;
  margin:0;
  padding:0;
}
input{
  -webkit-appearance:none;
}
input[type="button"]:active{
  opacity:0.8;
  filter:alpha(opacity=80);
}
a{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
a:hover{
  opacity:0.9;
  filter:alpha(opacity=90);
}
a:active{
  opacity:0.6;
  filter:alpha(opacity=60);
}
input::-webkit-input-safebox-button{
  display:none;
}
::-ms-clear{
  display: none;
}
::-ms-reveal{
  display: none;
}
.hidden{
  display:none;
}
.invisible{
  visibility:hidden;
}
.nowrap{
  white-space:nowrap;
}
.color-orange{
  color:#FE9818 !important;
}
.color-red{
  color:#FF0000 !important;
}
.color-white{
  color:#FFFFFF !important;
}
.bg-green{
  background-color:#1FB470 !important;
}
.bg-a{
  background-color:#FF9002 !important;
}
.bg-b{
  background-color:#7192B3 !important;
}
.bg-c{
  background-color:#5185EB !important;
}
.bg-d{
  background-color:#68C31E !important;
}
.bg-e{
  background-color:#03CB9C !important;
}
.bg-f{
  background-color:#8AD63E !important;
}
.bg-g{
  background-color:#07B6C7 !important;
}
.bg-h{
  background-color:#8B78EB !important;
}
.bg-i{
  background-color:#F6B05B !important;
}
.bg-j{
  background-color:#6E7CF7 !important;
}
.bg-k{
  background-color:#FD6744 !important;
}
.bg-l{
  background-color:#FF7900 !important;
}
.bg-m{
  background-color:#48C1D6 !important;
}
.bg-n{
  background-color:#4391D3 !important;
}
.bg-o{
  background-color:#BD63D5 !important;
}
.bg-p{
  background-color:#5ED344 !important;
}
.bg-q{
  background-color:#FF9C00 !important;
}
.bg-r{
  background-color:#4799E5 !important;
}
.bg-s{
  background-color:#23C53B !important;
}
.bg-t{
  background-color:#8A9295 !important;
}
.bg-u{
  background-color:#0ACE86 !important;
}
.bg-v{
  background-color:#7BC952 !important;
}
.bg-w{
  background-color:#DF73D9 !important;
}
.bg-x{
  background-color:#2C88DF !important;
}
.bg-y{
  background-color:#16B5CA !important;
}
.bg-z{
  background-color:#A773DF !important;
}
/* vendor icon */
i.icon_default{
  color:#909396;
}
i.icon_apple{
  color:#656565;
}
i.icon_huawei{
  color:#fe0000;
}
i.icon_samsung{
  color:#153985;
}
i.icon_lenovo{
  color:#0564a6;
}
i.icon_zte{
  color:#0081bb;
}
i.icon_coolpad{
  color:#354698;
}
i.icon_meizu{
  color:#21bbee;
}
i.icon_oppo{
  color:#03915f;
}
i.icon_vivo{
  color:#008cd5;
}
i.icon_sony{
  color:#000;
}
i.icon_mi{
  color:#f57923;
}
i.icon_htc{
  color:#69b210;
}
i.icon_wp{
  color:#00adef;
}
i.icon_smartisan{
  color:#b11016;
}
i.icon_oneplus{
  color:#d5232f;
}
i.icon_asus{
  color:#0057a6;
}
i.icon_dell{
  color:#007bc8;
}
i.icon_hp{
  color:#0896d4;
}
i.icon_acer{
  color:#83b81a;
}
i.icon_lg{
  color:#c7003d;
}
i.icon_wavlink{
  color:#3d65a3;
}
i.icon_wavlink_offline{
  color:#909396;
}
/* end of vendor icon */

/* list content */
div.set-con{
  background-color:#FFF;
}
ul.set-con{
  font-size:0;
}
ul.set-con2{
  padding:0.1rem;
  position:relative;
}
div.switch-con{
  overflow:hidden;
}
label.desc-title{
  display:inline-block;
  vertical-align:middle;
}
i.tip-title{
  float:right;
  margin:0 0.6rem;
  font-size:0.5rem;
  vertical-align:middle;
}
i.tip-title::after{
  clear:both;
}
li.text-con{
  position:relative;
  display:inline-block;
  vertical-align:middle;
}
li.text-con span.select{
  display:inline-block;
}
div.btn-con{
  text-align:center;
  font-size:0;
}
input.btn{
  color:#FFF;
  border:0;
  background-color:#3d65a3;
}
input.btn-right{
  background-color:#5DBD38;
}
input[type="button"].disabled{
  color:#575757;
  background-color:#DCDCDC;
}
span.radio i{
  display:none;
  cursor:pointer;
  vertical-align:middle;
}
span.uncheck i.uncheck{
  color:#767D82;
  display:inline;
}
span.checked i.checked{
  color:#1ECB5F;
  display:inline;
}
span.radio label{
  color:#4F5356;
  vertical-align:middle;
}
/* end of list content */

/* index page */
#Con{
  height:100%;
}
#Content{
  position:absolute;
  width:100%;
  overflow:scroll;
}
div.pop-cover{
  width:100%;
  height:100%;
  bottom:0px;
  right:0px;
  position:fixed;
  _top:0px;
  _left:0px;
  _position:absolute;
  background:#000;
  opacity:0.4;
  filter:alpha(opacity=40);
  display:none;
  z-index:1100;
}
#Cover{
	z-index:2000;
}
/*error note div*/
div.err-note{
  font-size:0;
}
i.err-icon{
  display:inline-block;
  color:#F13F3F;
  vertical-align:top;
}
p.note-str{
  color:#F13F3F;
  display:inline-block;
  vertical-align:middle;
}
/*end of error note div*/