*::-webkit-scrollbar{
  width:0;
  height:0;
}
#Con{
  overflow-y:scroll;
  overflow-x:hidden;
}
/* header */
div.head-con{
  position:fixed;
  z-index:100;
  width:100%;
  height:1.111rem;
  background-color:#F8F8F8;
  border-bottom:1px solid #DDD;
}
.below-head{
  margin-top:1.111rem !important;
}
a.head-btn-l{
  position:absolute;
  text-decoration:none;
  left:0.45rem;
  top:0;
  color:#3d65a3;
  font-size:0.4rem;
  vertical-align:middle;
  line-height:1.111rem;
}
i.head-btn{
  position:relative;
  left:-0.25rem;
  font-size:0.75rem;
  vertical-align:middle;
}
h1.head-title{
  line-height:1.111rem;
  text-align:center;
  font-size:0.5rem;
  color:#575757;
}
h1.head-title-l{
  line-height:1.111rem;
  text-align:left;
  font-size:0.5rem;
  color:#575757;
  padding-left:0.5rem;
}
a.head-btn-r{
  position:absolute;
  text-decoration:none;
  right:0.5rem;
  top:0;
  color:#575757;
  font-size:0.4rem;
  line-height:1.111rem;
}
/* end of header */

/* list content */
ul.blank-bg{
  height:0.875rem;
  background-color:#F0F0F0;
}
ul.set-con{
  padding:0.25rem;
}
ul.set-switch{
  padding:0.52rem 0.25rem;
}
ul.set-con-title{
  background-color:#F0F0F0;
  padding-top:0.278rem;
  padding-bottom:0.278rem;
  font-size:0;
}

ul.set-con-title-mesh{
  background-color:rgb(202, 207, 223);
  padding-top:0.278rem;
  padding-bottom:0.278rem;
  font-size:0;
}

label.title-desc-lbl{
  display:inline-block;
  text-align:left;
  vertical-align:middle;
  text-indent:0.45rem;
  font-size:0.370rem;
  color:#585858;
}
label.desc-title{
  font-size:0.417rem;
  padding-left:0.2rem;
  margin-top:0.1rem;
  width:60%;
  color:#575757;
}
div.switch-con{
  padding-bottom:0.2rem;
  border-bottom:1px solid #3d65a3;
}
p.desc-tetail{
  text-indent:2em;
  font-size:0.333rem;
  color:#8F9396;
  margin-top:0.25rem;
  margin-left:0.2rem;
}
p.set-con-desc{
  padding-top:0.25rem;
  padding-left:0.45rem;
  font-size:0.4rem;
  color:#969696;
}
span.switch{
  float:right;
  width:1.2rem;
  margin-right:0.1rem;
  border-radius:0.625rem;
  height:0.625rem;
  line-height:0.625rem;
  vertical-align:middle;
  background-color:#E8E8E8;
}
span.switch i.switch-circle{
  color:#FFF;
  display:inline-block;
  width:0.51rem;
  height:0.51rem;
  margin-right:0.065rem;
  margin-left:0.065rem;
  border-radius:50%;
  vertical-align:middle;
  background-color:#FFF;
}
span.radio i{
  font-size:0.8rem;
  line-height:0.8rem;
}
span.radio-r{
  margin-left:0.2rem;
}
span.radio label{
  font-size:0.417rem;
  line-height:0.8rem;
}
label.desc-lbl{
  display:inline-block;
  text-align:left;
  text-indent:0.2rem;
  vertical-align:middle;
  width:30%;
  font-size:0.417rem;
  color:#575757;
}
li.text-con input.text{
  width:5.75rem;
  border:1px solid #E9E9E9;
  border-radius:4px;
  padding:0 0.25rem;
  color:#575757;
  height:1rem;
  font-size:0.4rem;
}
li.text-con-focus input.hover{
  border-color:#FFBE62 !important;
}
li.text-con input.text-eye{
  width:5rem;
  padding-right:1rem;
}
li.text-con span.select{
  display:inline-block;
  width:5.75rem;
  border:1px solid #E9E9E9;
  border-radius:4px;
  padding:0 0.25rem;
  color:#575757;
  line-height:1rem;
  height:1rem;
  font-size:0.417rem;
}
i.tip-l{
  margin:0 0.25rem;
  font-size:0.8rem;
  vertical-align:middle;
}
p.sel-title{
  border-radius:0.2rem 0.2rem 0 0;
  line-height:1.1rem;
  text-align:center;
  font-size:0.417rem;
  background-color:#F0F0F0;
  border-bottom:1px solid #DCDCDC;
}
ul.sel-list{
  font-size:0.417rem;
  line-height:1.1rem;
  text-align:center;
  padding:0 0.25rem;
}
ul.sel-list li.sel-item{
  border-bottom:1px solid #DCDCDC;
}
ul.sel-list li.sel-item.selected{
  color:#F08300;
}
ul.sel-list li.sel-item:last-child{
  border-bottom:0px solid #DCDCDC;
}
i.tip{
  position:absolute;
  right:0.25rem;
  top:0.15rem;
  font-size:0.8rem;
}
i.icon-eye{
  background-color:#fff;
}
div.btn-con{
  margin:0.5rem 0.5rem 2.5rem;
}
input.btn{
  width:88%;
  height:1.111rem;
  border-radius:0.185rem;
  font-size:0.45rem;
}
input.btn-left{
  width:40%;
}
input.btn-right{
  width:40%;
  margin-left:0.667rem;
}
/* end of list content */

/*error note div*/
div.err-note{
  margin-top:0.5rem;
  margin-bottom:0.306rem;
}
i.err-icon{
  margin-left:2.65rem;
  margin-right:0.1rem;
  font-size:0.6rem;
}
p.note-str{
  width:60%;
  font-size:0.375rem;
  padding-top: 0.05rem;
}
/*end of error note div*/
/* select list*/
div.pop-widget{
  display:none;
  overflow:scroll;
  width:100%;
  position:fixed;
  bottom:50%;
  transform:translateY(50%);
  z-index:1100;
}
div.bottom-widget{
  bottom:0 !important;
  transform:none !important;
}
#Pop{
  z-index:2000;
}
#Help{
  display:none;
}
div.pop-con{
  color:#575757;
  background-color:#FFF;
  border-radius:0.2rem;
  margin:0 0.55rem;
}
div.sel-btn-con{
  font-size:0.5rem;
  text-align:center;
  margin:0.3rem 0.55rem 0.4rem;
}
div.sel-btn-con input.sel-btn{
  color:#575757;
  font-size:0.417rem;
  background-color:#FFF;
  line-height:1.1rem;
  border:0;
  border-radius:0.2rem;
  width:100%;
}
/* end of select list*/
/* loding */
div.loading{
  overflow:hidden;
  width:70%;
  border-radius:0.2rem;
  min-height:4rem;
  background-color:#FFF;
  margin:auto;
  padding-top:0.25rem;
}
div.outer-circle{
  width:1.5rem;
  margin:0.5rem auto;
  height:1.5rem;
  border:1px solid #D4D4D4;
  border-radius:50%;
}
div.inside-circle{
  position:relative;
  width:100%;
  height:100%;
  -webkit-animation:circle 2s infinite ease-in-out;
  -webkit-animation-delay:0.2s;
  -moz-animation:circle 2s infinite ease-in-out;
  -moz-animation-delay:0.2s;
  -ms-animation:circle 2s infinite ease-in-out;
  -ms-animation-delay:0.2s;
  animation:circle 2s infinite ease-in-out;
  animation-delay:0.2s;
}
@-webkit-keyframes circle{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes circle{
  0%{-moz-transform:rotate(0deg);}
  100%{-moz-transform:rotate(360deg);}
}
@-ms-keyframes circle{
  0%{-ms-transform:rotate(0deg);}
  100%{-ms-transform:rotate(360deg);}
}
@keyframes circle{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
i.circle{
  position:absolute;
  top:0;
  left:50%;
  display:inline-block;
  width:0.3rem;
  height:0.3rem;
  border-radius:50%;
  background-color:#3d65a3;
}
p.loading-tip{
  font-size:0.45rem;
  text-align:center;
  color:#575757;
  margin:0.25rem 0.5rem;
}
/* end of loding */
/* alert */
div.alert{
  overflow:hidden;
  width:90%;
  border-radius:0.2rem;
  background-color:#FFF;
  margin:auto;
}
p.alert-title{
  font-size:0.417rem;
  text-align:center;
  color:#575757;
  padding:0.325rem 0;
  background-color:#F8F8F8;
  border-bottom:1px solid #DCDCDC;
}
p.alert-tip{
  padding:0.5rem 0.4rem;
  font-size:0.417rem;
  text-align:center;
  color:#575757;
  border-bottom:1px solid #DCDCDC;
}
div.alert-btn-con{
  font-size:0;
  text-align:center;
  margin:0;
}
input.alert-btn{
  width:80%;
  background-color:#FFF;
  color:#FD9017;
  line-height:1.222rem;
  font-size:0.417rem;
  border:0;
  border-radius:0.15rem;
}
input.confirm-btn{
  background-color:#FFF;
  display:inline-block;
  width:50%;
  height:1.2rem;
  line-height:1rem;
  font-size:0.417rem;
  border:0;
}
input.confirm-btn-l{
  color:#575757;
  border-right:1px solid #DDD;
}
input.confirm-btn-r{
  color:#FD9017;
}
/* end of alert */

p.content{
  text-align:justify;
  text-justify:inter-ideograph;
}
p.content-list{
  text-align:justify;
  text-justify:inter-ideograph;
}