body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, code, del, 
dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, 
td, article, aside, dialog, figure, footer, header, hgroup,
nav, section{
  border:0px;
  font:inherit;
  margin:0px;
  padding:0px;
  outline:none;
  vertical-align:baseline;
}
html{
  height:100%;
}
body{
  height:100%;
  font-family:微软雅黑, 宋体, Arial;
  -webkit-text-size-adjust:none;
}
#xx_cover{
  width:100%;
  height:100%;
  bottom:0px;
  right:0px;
  position:fixed;
  _top:0px;
  _left:0px;
  _position:absolute;
  background:#000;
  opacity:0.4;
  filter:alpha(opacity=40);
  z-index:99999;
}
#xx_widget{
  height:100%;
  width:100%;
  position:fixed;
  bottom:0;
  _position:absolute;
  _bottom:0px;
  z-index:99999;
}
div.upgrade{
  width:540px;
  box-shadow:#bfbfbf 0px 0px 5px;
  background-color:#f8f8f8;
  margin:160px auto;
  padding:3px;
  border-radius:10px;
}
div.upgrade-head{
  position:relative;
  height:70px;
  background-color:#f3f7fa;
  border-bottom:1px solid #eee;
}
div.upgrade-head h2.title{
  font-size:18px;
  color:#52869c;
  padding-top:25px;
  padding-left:25px;
}
div.upgrade-head img.logo{
  position:absolute;
  top:25px;
  right:25px;
  width:164px;
  height:24px;
}
div.upgrade-detail{
  position:relative;
  min-height:160px;
  border-bottom:1px solid #fff;
}
p.software-info{
  color:#999;
  font-size:12px;
  text-align:left;
  margin:25px 25px 20px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
span.new, span.release{
  margin-left:2em;
}
h3.upgrade-log{
  position:absolute;
  color:#ff9000;
  font-size:12px;
  left:25px;
  top:40px;
}
#log{
  margin-left:85px;
  font-size:12px;
  color:#666;
  line-height:24px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
div.upgrade-footer{
  font-size:0;
  height:65px;
  background-color:#f3f7fa;
  border-top:1px solid #eee;
}
div.upgrade-footer div{
  display:inline-block;
  font-size:16px;
  width:48%;
  height:100%;
  text-align:center;
  line-height:65px;
  vertical-align:middle;
}
#upgrade{
  cursor:pointer;
  color:#ff9000;
}
#later{
  cursor:pointer;
  color:#666;
}
div.tool-item{
  position:relative;
  border-left:1px solid #fff;
}
ul.pop-list{
  display:none;
  position:absolute;
  top:45px;
  right:60px;
  width:130px;
  text-align:center;
  border-radius:3px;
  box-shadow:#bfbfbf 0px 0px 5px;
  background-color:#fff;
  list-style:none;
  outline:none;
  margin:0;
  padding:0;
}
ul.pop-list li.item{
  cursor:pointer;
  font-size:14px;
  line-height:34px;
  height:34px;
  color:#515456;
  border-bottom:1px solid #eee;
}
ul.pop-list li.item:hover{
  color:#ff9000;
  background-color:#f7f7f7;
}