body{
  font-family: Arial;
}
span.head-title{
  font-size:18px;
}
div.alert{
  width:360px;
}
div.loading{
  width:340px;
}
p.loading-tip{
  margin-bottom:30px;
  text-align:left;
}
li.app-item p.app-name{
  font-size:16px !important;
}
.items {
  width: 250px !important;
}
ul.topology-desc{
  font-weight:bold;
}
p.alert-tip{
  text-align:left;
}
p.progress-bar-tip{
  text-align:left;
}
p.copyright{
  text-align:center !important;
}
div.info a{
  margin-right:auto !important;
}
div.route-info{
  text-align:left;
}
#DevMac{
  left:260px !important;
}
label.time-lbl{
  width:130px !important;
}
li.time-con{
  width:362px !important;
}
input.btn-time{
  width:362px !important;
}
label.pwd-lbl{
  width:144px !important;
}
li.pwd-con input.text-eye{
  width:156px !important;
}
#PwdErr i.err-icon {
  margin-left:0 !important;
}
#PwdTip{
  width:330px !important;
}
label.desc-lbl-guide{
  width:140px !important;
}
div.guide-btn-con{
  width:460px !important;
}
div.right-set-con div.err-note{
  margin-left:196px !important;
}
input.detect-btn{
  margin: 10px 0 10px 204px !important;
}
div.guide-sta{
  margin-left:200px !important;
}
li.text-con-guide{
  width:464px !important;
}
p.content{
  text-align:left;
}
p.content-list{
  text-align:left;
}
p.note-str{
  word-break:normal;
}