<style type="text/css">
  ul.set-con1{
    margin:0 0.45rem 0;
  }
  ul.border-line{
    border-bottom:1px solid #F0F0F0;
  }
  label.desc-lbl1{
    width:40%;
    width:30% !important;
    font-size:0.45rem;
    line-height:1rem;
  }
  label.desc-lbl{
    /* width:10%; */
    width:30% !important;
    font-size:0.45rem;
    line-height:1rem;
  }
  i.left-icon{
    color:#FFF;
    display:inline-block;
    font-size:0.75rem;
    line-height:0.75rem;
    width:0.75rem;
    height:0.75rem;
    border-radius:0.1rem;
    margin-right:0.2rem;
    vertical-align:middle;
  }
  i.verdor-icon{
    font-size:1rem;
    left:-0.2rem;
    position:relative;
    float:left;
    margin:0;
    width:1rem;
    height:1rem;
  }
  span.switch{
    margin-top:0.15rem;
  }
  i.right-switch{
    float:right;
    font-size:0.5rem;
    padding-top:0.25rem;
    vertical-align:middle;
  }
  input.textA{
    padding:0 0.25rem;
    color:#575757;
    font-size:0.45rem;
    line-height:0.8rem;
    width:15%;
    border:0;
    border-bottom:1px solid #FE9818;
    border-radius:0;
    vertical-align:middle;
    text-align:center;
  }
  span.unit{
    font-size:0.4rem;
    color:#575757;
    vertical-align:middle;
  }
  ul.detail{
    position:relative;
    color:#575757;
    font-size:0.45rem;
  }
  i.detail-icon{
    position:absolute;
    left:0.75rem;
    top:0.15rem;
    width:0.75rem;
    height:0.75rem;
    font-size:0.75rem;
    border-radius:0.1rem;
    color:#FFF;
  }
  ul.detail p.info{
    line-height:0.85rem;
    margin-left:2rem;
    padding-top:0.125rem;
  }
  p.info span{
    margin-left:0.25em;
  }
  i.err-icon{
    margin-left:1.85rem;
  }
  li.select-con{
  width:1.25rem;
  }
  li.text-con span.select{
    width:80% !important;
    padding:0 0.05rem;
  }
	i.tip_select{
		position:absolute;
		right:0.05rem;
		top:0.15rem;
		font-size:0.8rem;
	}
  span.time-to{
		display:inline-block;
		vertical-align:middle;
		font-size:0.417rem;
		color:#4F5356;
	}
	ul.set-con input.text{
		width:5rem;
	}
	ul.set-con input.text-eye{
		width:4.25rem;
		padding-right:1rem;
	}
  span.select-width{
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		width:80%;
		position:absolute;
	}
  ul.sel-list li.sel-item{
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		width:97%;
		border-bottom:1px solid #dcdcdc;
	}
	ul.sel-list{
		overflow:auto;
		max-height:4.4rem;
	}

</style>

<script type="text/javascript">
var wcloud_app_type = ""
var userAgent = window.navigator.userAgent
if (userAgent=="wcloud_app_ios")
  wcloud_app_type = "ios"
else if (userAgent=="wcloud_app_android") 
  wcloud_app_type = "android"
else 
{
  window.location.href ="/error"
}
</script>

<div class="head-con">
  <a href="/v02.001/deviceManage" class="head-btn-l"><i class="head-btn icon icon_back"></i></a>
  <h1 class="head-title"><%=__('label.editClient')%></h1>
</div>
<div class="set-con1 below-head">
  <ul class="set-con1 border-line">
    <i id="VendorIcon" class="verdor-icon"></i>
    <label class="desc-lbl1"><%=__('label.deviceName')%></label>
    <input id="DeviceName" class="textA" style="width:50%;" maxLength="32" value="" />
  </ul>
  <ul class="set-con1">
    <i class="left-icon icon_net bg-n"></i>
    <label class="desc-lbl1"><%=__('label.internetSet')%></label>
    <span id="NetSwitch" class="switch" data-value="1">
      <i class="switch-circle"></i>
    </span>
  </ul>
	<div id="set_time">
    <ul class="set-con-title">
      <label class="title-desc-lbl"><%=__('label.blockTime')%></label>
    </ul>
    <ul class="set-con time-switch">
      <label class="desc-lbl"><%=__('label.week1')%></label>
      <li class="text-con select-con">
        <span id="CloseHour1" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="CloseMin1" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.midline')%></span>
      <li class="text-con select-con">
        <span id="OpenHour1" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="OpenMin1" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
    </ul>
    <ul class="set-con time-switch">
      <label class="desc-lbl"><%=__('label.week2')%></label>
      <li class="text-con select-con">
        <span id="CloseHour2" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="CloseMin2" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.midline')%></span>
      <li class="text-con select-con">
        <span id="OpenHour2" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="OpenMin2" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
    </ul>
    <ul class="set-con time-switch">
      <label class="desc-lbl"><%=__('label.week3')%></label>
      <li class="text-con select-con">
        <span id="CloseHour3" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="CloseMin3" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.midline')%></span>
      <li class="text-con select-con">
        <span id="OpenHour3" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="OpenMin3" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
    </ul>
    <ul class="set-con time-switch">
      <label class="desc-lbl"><%=__('label.week4')%></label>
      <li class="text-con select-con">
        <span id="CloseHour4" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="CloseMin4" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.midline')%></span>
      <li class="text-con select-con">
        <span id="OpenHour4" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="OpenMin4" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
    </ul>
    <ul class="set-con time-switch">
      <label class="desc-lbl"><%=__('label.week5')%></label>
      <li class="text-con select-con">
        <span id="CloseHour5" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="CloseMin5" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.midline')%></span>
      <li class="text-con select-con">
        <span id="OpenHour5" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="OpenMin5" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
    </ul>
    <ul class="set-con time-switch">
      <label class="desc-lbl"><%=__('label.week6')%></label>
      <li class="text-con select-con">
        <span id="CloseHour6" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="CloseMin6" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.midline')%></span>
      <li class="text-con select-con">
        <span id="OpenHour6" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="OpenMin6" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
    </ul>
    <ul class="set-con time-switch">
      <label class="desc-lbl"><%=__('label.week0')%></label>
      <li class="text-con select-con">
        <span id="CloseHour0" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="CloseMin0" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.midline')%></span>
      <li class="text-con select-con">
        <span id="OpenHour0" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
      <span class="time-to"><%=__('label.colon')%></span>
      <li class="text-con select-con">
        <span id="OpenMin0" class="select" data-value="0">
          <span class="select-value select-width"></span>
          <i class="tip_select icon_list-expansion"></i>
        </span>
      </li>
    </ul>
  </div>
  <!-- <ul class="set-con-title">
    <label class="title-desc-lbl"><%=__('label.speedLimit')%></label>
  </ul>
  <ul class="set-con border-line">
    <i class="left-icon icon_speed_up bg-g"></i>
    <label class="desc-lbl"><%=__('label.uploadSpeed')%></label>
    <input id="UploadSpeed" class="textA" maxLength="4" value="" placeholder="<%=__('label.unlimit')%>" />
    <span class="unit">KB/s</span>
    <span id="UpSwitch" class="switch" data-value="0">
      <i class="switch-circle"></i>
    </span>
  </ul>
  <ul class="set-con">
    <i class="left-icon icon_speed bg-d"></i>
    <label class="desc-lbl"><%=__('label.downloadSpeed')%></label>
    <input id="DownloadSpeed" class="textA" maxLength="4" value="" placeholder="<%=__('label.unlimit')%>" />
    <span class="unit">KB/s</span>
    <span id="DownSwitch" class="switch" data-value="0">
      <i class="switch-circle"></i>
    </span>
  </ul> -->
  <ul class="set-con-title">
    <label class="title-desc-lbl"><%=__('label.detail')%></label>
  </ul>
  <ul class="detail">
    <i class="detail-icon icon_informationsvg bg-a"></i>
    <p class="info" id="IpAddr"><%=__('label.ipaddr')%><%=__('label.colon')%><span></span></p>
    <p class="info" id="MacAddr"><%=__('label.macAddr')%><%=__('label.colon')%><span></span></p>
    <!-- <p class="info" id="Time"><%=__('label.hasConnected')%><%=__('label.colon')%><span></span></p> -->
  </ul>
  <div class="err-note hidden">
    <i class="err-icon icon_remind_line"></i>
    <p class="note-str"></p>
  </div>
  <div class="btn-con">
    <input id="Save" class="btn" type="button" value="<%=__('btn.save')%>" />
  </div>
  <ul class="set-con1">
    <p></p>
  </div>
  <ul class="set-con1">
    <p></p>
  </div>
  </div>


<script type="text/javascript">
  function getUrlParams() {
      var params = {};
      window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) {
        if(key.indexOf("%5B%5D")!=-1){
          keyname = key.replace("%5B%5D","");
          if(params[keyname] == null)
            params[keyname]=[];
          params[keyname].push(value);
        }
        else
         params[key] = value; 
        });
      return params;
  } 

  function logout()
  {
    try {
      if(wcloud_app_type=="ios")
          webkit.messageHandlers.logout.postMessage("");
      else 
          window.messageHandlers.logout("");  // android
    } catch(error) {
      alert(errStr.invRequestFail)
    }
  } 

  function finishSetting(result)
  {
   var resultData = window.atob(result);
    var res = JSON.parse(resultData);

    if(res.resCode==0)
    {
      closeLoading();	
    }
    else {
      if(res.resCode==401) logout();
      closeLoading();	
    } 
  }  

var param = getUrlParams();
var client = {};
for (var k in param){
var key = decodeURIComponent(k);
var val = decodeURIComponent(param[k]);
if(key == "timeSchedule"){
  var time = val.replace(/(\d+),(\d+:\d+-\d+:\d+),/g,"$1,$2\;");
  var timeSchedule = time.split(";");
  client[key] = timeSchedule;
}
else
  client[key] = val;
}

var vendor;
if(client.brand){
vendor = "icon_" + getAlias(client.brand);
}else{
vendor = "icon_" + getVendor(client.macAddress);
}

console.log(vendor)
console.log(client.hostName)

$("#VendorIcon").addClass(vendor);
$("#DeviceName").val(client.hostName);
$("#UpSwitch").attr("data-value", "1");
$("#DownSwitch").attr("data-value", "1");
$("#MacAddr span").text(client.macAddress);

initSwitch("NetSwitch", client.blocked==0 ? 1 : 0, function(state){
  closeNote();
  if(1 == state){
    $("#set_time").show();
  }else{
    $("#set_time").hide();
  }
});

var upSwitchState = 0;
if (0 == client.speedUpLimit){
upSwitchState = 0;
$("#UploadSpeed").val("");
}else{
upSwitchState = 1;
$("#UploadSpeed").val(client.speedUpLimit);
}

initSwitch("UpSwitch", upSwitchState, function(state){
if (1 == state){
  $("#UploadSpeed").val(client.speedUpLimit).removeAttr("disabled");
}else{
  $("#UploadSpeed").val("").attr("disabled", "disabled");
}
});

var hourListAll = TIMESCHEDULE.getHourListAll();
var minListAll = TIMESCHEDULE.getMinListAll();

for(var i=0; i<7; i++)
{
  initSelect("CloseHour"+i, hourListAll, client.timeSchedule[i].substring(2,4));
  initSelect("CloseMin"+i, minListAll, client.timeSchedule[i].substring(5,7));
  initSelect("OpenHour"+i, hourListAll, client.timeSchedule[i].substring(8,10));
  initSelect("OpenMin"+i, minListAll, client.timeSchedule[i].substring(11,13));
}

var downSwitchState = 0;
if (0 == client.speedDnLimit){
downSwitchState = 0;
$("#DownloadSpeed").val("");
}else{
downSwitchState = 1;
$("#DownloadSpeed").val(client.speedDnLimit);
}

initSwitch("DownSwitch", downSwitchState, function(state){
if (1 == state){
  $("#DownloadSpeed").val(client.speedDnLimit).removeAttr("disabled");
}else{
  $("#DownloadSpeed").val("").attr("disabled", "disabled");
}
});

if ("0" != client.connectedTime){
$("#IpAddr span").text(client.ipAddress);
$("#Time span").text(timeTrans(client.connectedTime));
}else{
$("#Time").hide();
$("#IpAddr").hide();
}
function checkTime(){
  for(var i = 0; i < 7; i++){
    if(Number($("#CloseHour"+i).attr("data-value")) > Number($("#OpenHour"+i).attr("data-value"))){
      return E_PARENTCTRL_START_END_LESS;
    }
    if(Number($("#CloseHour"+i).attr("data-value")) == Number($("#OpenHour"+i).attr("data-value")) && Number($("#CloseMin"+i).attr("data-value")) > Number($("#OpenMin"+i).attr("data-value"))){
      return E_PARENTCTRL_START_END_LESS;
    }
  }
  return E_NONE;
}
function checkDevName(username){
if ("" == username){
  return E_DIVICE_NAME_BLANK;
}

if (E_NONE != checkStrLen(username, 32, 1)){
  return E_DIVICE_NAME_LEN;
}

return E_NONE;
}

function checkItems(speed, limitType){
var err = checkNumNew(speed, 0, 4096);

if ("" == speed){
  return E_NONE;
}

switch(err){
case E_NUMFORMAT:
  return eval("E_DIVICE_"+limitType+"_LIMIT_ILLEGAL");
case E_NUMRANGE:
  return eval("E_DIVICE_"+limitType+"_LIMIT_RANGE");
}

return E_NONE;
}

$("#Save").click(function(){
var devName = $("#DeviceName").val();
var upSpeed = $("#UploadSpeed").val() || "0";
var downSpeed = $("#DownloadSpeed").val() || "0";
var time=new Array();
for(var i = 0; i < 7; i++){
  time[i] = i+","+$("#CloseHour"+i).attr("data-value")+":"+$("#CloseMin"+i).attr("data-value")+"-"+$("#OpenHour"+i).attr("data-value")+":"+$("#OpenMin"+i).attr("data-value");
}
closeNote();

if (handleError(checkTime())){
  return;
}
if (handleError(checkDevName(devName))){
  return;
}

if (handleError(checkItems(upSpeed, "UP"))){
  return;
}

if (handleError(checkItems(downSpeed, "DOWN"))){
  return;
}

var data = {};

data.id = client.macAddress.replace(/[:]/g,"");
data.ipAddress = client.ipAddress;
data.macAddress = client.macAddress;
data.hostName = devName;
data.blocked = $("#NetSwitch").attr("data-value")=="1" ? 0 : 1;
data.speedUpLimit = upSpeed;
data.speedDnLimit = downSpeed;
data.time = time;

var reqJson = JSON.stringify(data)
var reqStr = window.btoa(reqJson)
try {
  if(wcloud_app_type=="ios")
    webkit.messageHandlers.deviceSetting.postMessage({callback:'finishSetting', req: reqStr});
  else
  {
    var jsReq = {callback:'finishSetting', req: data };
    window.messageHandlers.deviceSetting(JSON.stringify(jsReq));  // android
  }      
  showLoading(label.saving);
} catch(error) {
  alert(errStr.invRequestFail)
}

console.log(data)
});

function pageLoad()
{
}
</script>