<script type="text/javascript">
  var wcloud_app_type = ""
  var userAgent = window.navigator.userAgent
  if (userAgent=="wcloud_app_ios")
    wcloud_app_type = "ios"
  else if (userAgent=="wcloud_app_android") 
    wcloud_app_type = "android"
  else 
  {
    window.location.href ="/error"
  }
</script>

  <div class="head-con">
    <a href="javascript:history.go(-1);" class="head-btn-l"><i class="head-btn icon icon_back"></i></a>
    <h1 class="head-title"><%=__('label.lanSet')%></h1>
  </div>
  <div class="set-con below-head">
    <ul class="blank-bg"></ul>
    <ul class="set-con">
      <label class="desc-lbl"><%=__('label.ipaddr')%></label>
      <li class="text-con">
        <input id="LanIp" class="text hover" maxLength="15" value="" />
      </li>
    </ul>
    <ul class="blank-bg"></ul>
    <div class="err-note hidden">
      <i class="err-icon icon_remind_line"></i>
      <p class="note-str"></p>
    </div>
    <div class="btn-con">
      <input id="Save" class="btn" type="button" value="<%=__('btn.save')%>" />
    </div>
  </div>


<script type="text/javascript">

function pageLoad()
{
  getLanSet()
}

function logout()
{
  try {
    if(wcloud_app_type=="ios")
        webkit.messageHandlers.logout.postMessage("");
    else 
        window.messageHandlers.logout("");  // android
  } catch(error) {
    alert(errStr.invRequestFail)
  }
}

function getLanSet()
{
  // call webkit code here, ios app will call updateStatus 
  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.getLanSetting.postMessage({callback:'gotLanSet', req:''});
    else
    {
      var jsReq = {callback:'gotLanSet', req: '' };
      window.messageHandlers.getLanSetting(JSON.stringify(jsReq));  // android
    }
    showLoading(label.loading);
  } catch(error) {
    alert(errStr.invRequestFail)
  }
}

function gotLanSet(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);
  
  if(res.resCode==0)
  {
    $("#LanIp").val(res.result.lanSetting.ipAddress);
  }
  else
  if(res.resCode==401) logout(); 

  closeLoading();
}

function finishLanSetting(result)
{
	var resultData = window.atob(result);
	var res = JSON.parse(resultData);

	if(res.resCode==0)
	{
		showLoading(label.saving);
		setTimeout(closeLoading, 120000);
	}
	else {
		if(res.resCode==401) logout();
		closeLoading();	
	} 
}


function checkLanIp(ip){
  var err = checkIp(ip);
  switch(err){
  case E_BLANK:
    return E_LAN_IP_BLANK;
  case E_INVIPFMT:
    return E_LAN_IP_FORMAT;
  case E_INVIP:
    return E_LAN_IP_ILLEGAL;
  }
  return E_NONE;
}
  
$("#Save").click(function(){
  var setAttrReq = {}
  setAttrReq.ipAddress = $("#LanIp").val();

  if (handleError(checkLanIp(setAttrReq.ipAddress))){
    return;
  }

  showConfirm(label.lanSetTip, function(choose){
    if (choose){
      closeNote();
      var reqJson = JSON.stringify(setAttrReq)
      var reqStr = window.btoa(reqJson)
      try {
        if(wcloud_app_type=="ios")
          webkit.messageHandlers.setLanSetting.postMessage({callback:'finishLanSetting', req: reqStr});
        else
        {
          var jsReq = {callback:'finishLanSetting', req: setAttrReq };
          window.messageHandlers.setLanSetting(JSON.stringify(jsReq));  // android
        }
          
        showLoading(label.saving);
      } catch(error) {
        alert(errStr.invRequestFail)
      }
    }
  });
});

</script>