<script type="text/javascript">
  var wcloud_app_type = ""
  var userAgent = window.navigator.userAgent
  if (userAgent=="wcloud_app_ios")
    wcloud_app_type = "ios"
  else if (userAgent=="wcloud_app_android") 
    wcloud_app_type = "android"
  else 
  {
    window.location.href ="/error"
  }
</script>

<div class="head-con">
        <a href="javascript:history.go(-1);" class="head-btn-l"><i class="head-btn icon icon_back"></i></a>
        <h1 class="head-title"><%=__('label.ledTip')%></h1>
</div>
<div class="set-con below-head">
  <ul class="blank-bg"></ul>
  <ul class="set-con">
      <label class="desc-lbl"><%=__('label.ledTip')%></label>
      <span id="Switch" class="switch">
              <i class="switch-circle"></i>
      </span>
  </ul>
  <ul class="set-con time-switch">
    <label class="desc-lbl switch"><%=__('label.timingSwitch')%></label>
    <span id="TimeSwitch" class="switch">
      <i class="switch-circle"></i>
    </span>
  </ul>
  <ul  id="TimeSet" class="set-con time-switch">
    <label class="desc-lbl"><%=__('label.closeTimePeriod')%></label>
    <li class="text-con select-con">
      <span id="CloseHour" class="select" data-value="0">
        <span class="select-value"></span>
        <i class="tip_select icon_list-expansion"></i>
      </span>
    </li>
    <li class="text-con select-con">
      <span id="CloseMin" class="select" data-value="0">
        <span class="select-value"></span>
        <i class="tip_select icon_list-expansion"></i>
      </span>
    </li>
    <span class="time-to"><%=__('label.colon')%></span>
    <li class="text-con select-con">
      <span id="OpenHour" class="select" data-value="0">
        <span class="select-value"></span>
        <i class="tip_select icon_list-expansion"></i>
      </span>
    </li>
    <li class="text-con select-con">
      <span id="OpenMin" class="select" data-value="0">
        <span class="select-value"></span>
        <i class="tip_select icon_list-expansion"></i>
      </span>
    </li>
  </ul>
<ul class="blank-bg"></ul>
  <div class="err-note hidden">
          <i class="err-icon icon_remind_line"></i>
          <p class="note-str"></p>
  </div>
  <div class="btn-con">
        <input id="Save" class="btn" type="button" value="<%=__('btn.save')%>" />
  </div>
</div>

<script type="text/javascript">

function pageLoad()
{
  getLedSetting()
}

function logout()
{
  try {
    if(wcloud_app_type=="ios")
        webkit.messageHandlers.logout.postMessage("");
    else 
        window.messageHandlers.logout("");  // android
  } catch(error) {
    alert(errStr.invRequestFail)
  }
}

function getLedSetting()
{
  // call webkit code here, ios app will call updateStatus 
  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.getLedSetting.postMessage({callback:'gotLedSetting', req:''});
    else
    {
      var jsReq = {callback:'gotLedSetting', req: '' };
      window.messageHandlers.getLedSetting(JSON.stringify(jsReq));  // android
    }

    showLoading(label.loading);
  } catch(error) {
    alert(errStr.invRequestFail)
  }

}

function gotLedSetting(result)
{
  
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);

  //don't use schedule
  $("ul.time-switch").hide();
  
  if(res.resCode==0)
  {
    if(res.result.ledSetting.enable==1) {
      initSwitch("Switch", res.result.ledSetting.status);
    }
    else 
    {
      document.getElementById("Switch").disabled = true;
      document.getElementById("Save").disabled = true;
    }
  }
  else
  if(res.resCode==401) logout(); 

  closeLoading();
}

function finishLedSetting(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);

  if(res.resCode==0)
  {
    closeLoading();	
  }
  else {
    if(res.resCode==401) logout();
    closeLoading();	
  } 
}

$("#Save").click(function(){
  var setAttrReq = {}
  setAttrReq.enable = 1
  setAttrReq.status = parseInt($("#Switch").attr("data-value"));

  var reqJson = JSON.stringify(setAttrReq)
  var reqStr = window.btoa(reqJson)
  try {
    if(wcloud_app_type=="ios")
        webkit.messageHandlers.setLedSetting.postMessage({callback:'finishLedSetting', req: reqStr});
    else
    {
      var jsReq = {callback:'finishLedSetting', req: setAttrReq };
      window.messageHandlers.setLedSetting(JSON.stringify(jsReq));  // android
    }
      
    showLoading(label.saving);
  } catch(error) {
    alert(errStr.invRequestFail)
  }
});

</script>
            