<style type="text/css">
	div.head-con{
		border-bottom-width:0;
	}
	div.wan-type-img{
		position:relative;
		background-color:#F8F8F8;
		text-align:center;
		overflow:hidden;
	}
	i.router{
		display:inline-block;
		background:url(/luci-static/images/network.png) no-repeat;
		background-size:contain;
		width:6.2rem;
		height:6rem;
	}
	i.break-icon{
		color:#F13F3F;
		position:absolute;
		left:7rem;
		top:1.2rem;
		background-color:#F8F8F8;
		font-size:0.8rem;
	}
	#Detect{
		background-color:#1499E6;
	}
	#WanPppoeSet{
		display:none;
	}
	#WanStaticSet{
		display:none;
	}
	div.wan-sta{
		margin-left:0.25rem;
	}
	i.wan-sta-icon{
		display:inline-block;
		font-size:0.8rem;
		vertical-align:middle;
		text-indent:0.35rem;
	}
	i.icon_remind_line{
		color:#F34947;
	}
	i.icon_select_on{
		color:#0BCD1E;
	}
	p.status-detail{
		font-size:0.5rem;
		width:70%;
		display:inline-block;
		font-size:0.42rem;
		vertical-align:middle;
	}
	#Retry{
		width:88%;
	}
</style>

<script type="text/javascript">
  var wcloud_app_type = ""
  var userAgent = window.navigator.userAgent
  if (userAgent=="wcloud_app_ios")
    wcloud_app_type = "ios"
  else if (userAgent=="wcloud_app_android") 
    wcloud_app_type = "android"
  else 
  {
    window.location.href ="/error"
  }
</script>

<script type="text/javascript">
	function checkStaticConf(ip, mask, gateway){
		var result = E_NONE;
		if (E_NONE != (result = checkNetworkIp(ip))){
			return result;
		}

		if (E_NONE != (result = checkNetworkMask(mask))){
			return result;
		}

		if (E_NONE != (result = checkNetworkIpMask(ip, mask))){
			return result;
		}

		if (E_NONE != (result = checkNetworkGateway(gateway, ip, mask))){
			return result;
		}

		return result;
	}

	function checkNetworkIp(ip){
		var err = checkIp(ip);
		switch(err){
		case E_BLANK:
			return E_NETWORK_IP_BLANK;
		case E_INVIPFMT:
			return E_NETWORK_IP_FORMAT;
		case E_INVIP:
			return E_NETWORK_IP_ILLEGAL;
		}
		return E_NONE;
	}

	function checkNetworkMask(mask){
		var err = checkMask(mask);
		switch(err){
		case E_BLANK:
			return E_NETWORK_NETMASK_BLANK;
		case E_INVMASKFMT:
			return E_NETWORK_NETMASK_FORMAT;
		case E_INVMASK:
			return E_NETWORK_NETMASK_ILLEGAL;
		}
		return E_NONE;
	}

	function checkNetworkIpMask(ip, mask) {
		var err = checkIpMask(ip, mask);

		switch(err){
		case E_INVNETID:
			return E_NETWORK_NET_ILLEGAL;
		case E_INVHOSTID:
			return E_NETWORK_NETHOST_ILLEGAL;
		}
		return E_NONE;
	}

	function checkNetworkGateway(gateway, ip, mask){
		var err = checkIp(gateway);
		var result = E_NONE;
		switch(err){
		case E_BLANK:
			return E_NETWORK_GATEWAY_BLANK;
		case E_INVIPFMT:
			return E_NETWORK_GATEWAY_FORMAT;
		}

		if (!checkSameNetwork(gateway, ip, mask)){
			return E_NETWORK_IP_GATEWAY_NOTCOM;
		}
		if (gateway == ip){
			return E_NETWORK_IP_GATEWAY_SAME;
		}

		return E_NONE;
	}

	function checkNetworkDns(primDns, secDns){
		var err = checkIp(primDns);
		switch(err){
		case E_BLANK:
			return E_NETWORK_DNSPRI_BLANK;
		case E_INVIPFMT:
			return E_NETWORK_DNSPRI_FORMAT;
		case E_INVIP:
			return E_NETWORK_DNSPRI_ILLEGAL;
		}

		err = checkIp(secDns);
		switch(err){
		case E_BLANK:
			return E_NONE;
		case E_INVIPFMT:
			return E_NETWORK_DNSSEC_FORMAT;
		case E_INVIP:
			return E_NETWORK_DNSSEC_ILLEGAL;
		}

		if (primDns == secDns){
			return E_NETWORK_DNSPRI_DNSSEC_SAME;
		}

		return E_NONE;
	}
	/*for PPPOE/PPTP/L2TP*/
	function checkUserName(username, wanType){
		var serverType = wanType.toUpperCase();
		if (username == ""){
			return eval("E_NETWORK_"+serverType+"_USERNAME_BLANK");
		}

		if (checkStrLen(username, 32, 1) != E_NONE){
			return eval("E_NETWORK_"+serverType+"_USERNAME_LEN");
		}

		return E_NONE;
	}

	/*for PPPOE/PPTP/L2TP*/
	function checkPassWord(password, wanType){
		var serverType = wanType.toUpperCase();
		var err = checkStrFormat(password);
		switch(err){
		case E_STRINGBLANK:
			return eval("E_NETWORK_"+serverType+"_PWD_BLANK");
		case E_STRINGFORMAT:
			return eval("E_NETWORK_"+serverType+"_PWD_ILLEGAL");
		}
		if (checkStrLen(password, 32, 1)){
			return eval("E_NETWORK_"+serverType+"_PWD_LEN");
		}
		return E_NONE;
	}

	/*for PPTP/L2TP*/
	function checkServer(server, wanType){
		var serverType = wanType.toUpperCase();
		if("PPPOE" == serverType){
			if(checkStrLen(server, 64, 0)){
				return E_NETWORK_PPPOE_SERVER_LEN;
			}else{
				return E_NONE;
			}
		} else {
			var err = checkDomainIp(server);
			switch(err){
			case E_BLANK:
				return eval("E_NETWORK_"+serverType+"_SERVER_BLANK");
			case E_DOMAINFORMAT:
			case E_INVIPFMT:
				return eval("E_NETWORK_"+serverType+"_SERVER_ILLEGAL");
			case E_DOMAINLEN:
				return eval("E_NETWORK_"+serverType+"_DOMAIN_ILLEGAL");
			case E_INVIP:
				return eval("E_NETWORK_"+serverType+"_IP_ILLEGAL");
			}
			return E_NONE;
		}


	}

	/*for STATIC/DHCP/PPPOE/L2TP/PPTP*/
	function checkNetworkMtu(mtu, min, max, wanType){
		var serverType = wanType.toUpperCase();
		var err = checkNumNew(mtu, min, max);
		switch(err){
		case E_BLANK:
			return eval("E_NETWORK_"+serverType+"_MTU_BLANK");
		case E_NUMFORMAT:
			return eval("E_NETWORK_"+serverType+"_MTU_ILLEGAL");
		case E_NUMRANGE:
			return eval("E_NETWORK_"+serverType+"_MTU_RANGE");
		}
		return E_NONE;
	}

	function checkNetworkMac(mac){
		var err = checkMac(mac);
		switch(err){
		case E_BLANK:
			return E_MACCLONE_MAC_BLANK;
		case E_INVMACFMT:
			return E_MACCLONE_MAC_FORMAT;
		case E_INVMAC:
			return E_MACCLONE_MAC_ILLEGAL;
		}
		return E_NONE;
	}
</script>

<div class="head-con">
	<a href="javascript:history.go(-1);" class="head-btn-l"><i class="head-btn icon icon_back"></i></a>
	<h1 class="head-title"><%=__('label.networkset')%></h1>
</div>
<div class="set-con below-head">
	<div class="wan-type-img">
		<i class="router"></i>
		<i class="break-icon icon_error hidden"></i>
	</div>
	<div id="WanSta" class="wan-sta">
		<i class="wan-sta-icon"></i>
		<p class="status-detail"></p>
	</div>
	<div class="btn-con detect hidden">
		<input id="Detect" class="btn" type="button" value="{%btn.autoDetect%}" />
	</div>
	<ul class="set-con">
		<label class="desc-lbl"><%=__('label.wanType')%></label>
		<li class="text-con">
			<span id="WanType" class="select" data-value="0">
				<span class="select-value"><%=__('label.wanDHCP')%></span>
				<i class="tip icon_list-expansion"></i>
			</span>
		</li>
	</ul>
	<div id="WanPppoeSet">
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.pppoeUser')%></label>
			<li class="text-con">
				<input id="PppoeUser" class="text hover" maxLength="32" value="" />
			</li>
		</ul>
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.pppoePasswd')%></label>
			<li class="text-con">
				<input id="PppoePwd" class="text hover" maxLength="32" value="" /><i class="tip icon-eye" data-value="0"></i>
			</li>
		</ul>
		<!----
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.serName')%></label>
			<li class="text-con">
				<input id="PppoeServ" class="text hover" placeholder="<%=__('label.allowNoWrite')%>" maxLength="64" value="" />
			</li>
		</ul>
		-->
	</div>
	<div id="WanVpn" class="hidden">
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.vpnServer')%></label>
			<li class="text-con">
				<input id="VpnServerIp" class="text hover" maxLength="64" value="0.0.0.0" />
			</li>
		</ul>
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.vpnName')%></label>
			<li class="text-con">
				<input id="VpnUser" class="text hover" maxLength="32" value="" />
			</li>
		</ul>
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.vpnPassword')%></label>
			<li class="text-con">
				<input id="VpnPwd" class="text hover" type="password" maxLength="32" value="" /><i class="tip icon-eye" data-value="0"></i>
			</li>
		</ul>
		<ul class="set-con set-con-radio">
			<label class="desc-lbl"></label>
			<li class="text-con">
				<span id="IpProtocol" class="radio-group">
					<span class="radio uncheck">
						<i class="uncheck icon_radiobox_off"></i><i class="checked icon_radiobox_on"></i>
						<label><%=__('label.dynamicIp')%></label>
					</span>
					<span class="radio radio-r uncheck">
						<i class="uncheck icon_radiobox_off"></i><i class="checked icon_radiobox_on"></i>
						<label><%=__('label.staticIp')%></label>
					</span>
				</span>
			</li>
		</ul>
	</div>
	<div id="WanStaticSet">
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.ipaddr')%></label>
			<li class="text-con">
				<input id="WanIpaddr" class="text hover" maxLength="15" value="0.0.0.0" />
			</li>
		</ul>
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.netmask')%></label>
			<li class="text-con">
				<input id="WanMask" class="text hover" maxLength="15" value="0.0.0.0" />
			</li>
		</ul>
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.gateway')%></label>
			<li class="text-con">
				<input id="WanGw" class="text hover" maxLength="15" value="0.0.0.0" />
			</li>
		</ul>
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.firstDns')%></label>
			<li class="text-con">
				<input id="PrimDns" class="text hover" maxLength="15" value="0.0.0.0" />
			</li>
		</ul>
		<ul class="set-con">
			<label class="desc-lbl"><%=__('label.secDns')%></label>
			<li class="text-con">
				<input id="SecDns" class="text hover" maxLength="15" value="0.0.0.0" />
			</li>
		</ul>
	</div>
	<div class="err-note hidden">
		<i class="err-icon icon_remind_line"></i>
		<p class="note-str"></p>
	</div>
	<div class="btn-con">
		<input id="SaveConf" class="btn" type="button" value="<%=__('btn.save')%>" />
	</div>
	<ul class="set-con">
		<p></p>
	</div>
	<ul class="set-con">
		<p></p>
	</div>
</div>

<script type="text/javascript">

var WAN_TYPE_DHCP = "dhcp",
		WAN_TYPE_PPPoE = "pppoe",
		WAN_TYPE_STATIC_IP = "static";

var wanTypeAll = [{name:label.wanDHCP, value:WAN_TYPE_DHCP},
					{name:label.wanPPPoE, value:WAN_TYPE_PPPoE},
					{name:label.wanStatic, value:WAN_TYPE_STATIC_IP}
					];
					 
function pageLoad()
{
	// init to dhcp first
	var initWanType = "dhcp"
	setWantype(initWanType, null);
	initSelect("WanType", wanTypeAll, initWanType, function(){
		var nowSelect = $("#WanType").attr("data-value");

		$(".err-note").hide();
		setWantype(nowSelect);
	});

	getWanSetting()	
}
  
function logout()
{
  try {
    if(wcloud_app_type=="ios")
        webkit.messageHandlers.logout.postMessage("");
    else 
        window.messageHandlers.logout("");  // android
  } catch(error) {
		alert(errStr.invRequestFail)
  }
}

function setWantype(wanType, wanSetting){
		if(wanType == 'dhcp' || wanType == '1'){
			$("span.select-value").text(label.wanDHCP);
			$("div.wan-type-img").show();
			$("#WanPppoeSet").hide();
			$("#WanStaticSet").hide();
			$("#WanVpn").hide();
			$("#WanType").attr("data-value","dhcp");
		}else if(wanType == 'pppoe' || wanType == '2'){
			$("span.select-value").text(label.wanPPPoE);
			$("div.wan-type-img").show();
			$("#WanPppoeSet").show();
			$("#WanStaticSet").hide();
			$("#WanVpn").hide();
			$("#WanType").attr("data-value","pppoe");
			initPppoe(wanSetting);
		}else if(wanType == 'static'  || wanType == '3'){
			$("span.select-value").text(label.wanStatic);
			$("div.wan-type-img").hide();
			$("#WanPppoeSet").hide();
			$("#WanStaticSet").show();
			$("#WanVpn").hide();
			$("#WanType").attr("data-value","static");
			initStaticIp(wanSetting);
		} else {  // just set it to dhcp
			$("span.select-value").text(label.wanDHCP);
			$("div.wan-type-img").show();
			$("#WanPppoeSet").hide();
			$("#WanStaticSet").hide();
			$("#WanVpn").hide();
			$("#WanType").attr("data-value","dhcp");
		}
		/*
		else if(wanType == 'pptp' || wanType == '4'){
			$("span.select-value").text(label.wanPptp);
			$("#WanPppoeSet").hide();
			$("#WanStaticSet").hide();
			$("#WanVpn").show();
			$("#WanType").attr("data-value","pptp");
			initPptp(wanSetting);
		}else{
			$("span.select-value").text(label.wanL2tp);
			$("#WanPppoeSet").hide();
			$("#WanStaticSet").hide();
			$("#WanVpn").show();
			$("#WanType").attr("data-value","l2tp");
			initL2tp(wanSetting);
		}*/
	}


function getWanSetting()
{
  try {
    if(wcloud_app_type=="ios")
      webkit.messageHandlers.getWanSetting.postMessage({callback:'gotWnsSetting', req:''});
    else
    {
      var jsReq = {callback:'gotWnsSetting', req: '' };
      window.messageHandlers.getWanSetting(JSON.stringify(jsReq));  // android
    }

		showLoading(label.loading);
  } catch(error) {
		alert(errStr.invRequestFail)
  }

}

function initPppoe(wanSetting){
	if(wanSetting==null) return;
	var PppoeUser = wanSetting.userName;
	var PppoePwd = wanSetting.password;
	var PppoeSer = "";

	$("#PppoeUser").val(PppoeUser);
	$("#PppoePwd").val(PppoePwd);
	//$("#PppoeServ").val(PppoeSer);
}


function initStaticIp(wanSetting){
		var ipVal = wanSetting.ipAddress;
		var maskVal = wanSetting.subnetMask;
		var gwVal = wanSetting.gateway;
		var primDns = wanSetting.dnsPrimary;
		var secDns = wanSetting.dnsSecondary;

		$("#WanIpaddr").val(ipVal);
		$("#WanMask").val(maskVal);
		$("#WanGw").val(gwVal);
		$("#PrimDns").val(primDns);
		$("#SecDns").val(secDns);
	}

/*
{
	resCode:0,
	result:{
		wanSetting : {
			type:"1",  // 1: dhcp, 2:pppoe, 3:static
			userName:"hello",
			password:"12345678",
			ipAddress:"9.9.10.11",
			subnetMask:"255.0.0.0",
			gateway:"9.9.10.1",
			dnsPrimary:"8.8.8.8",
			dnsSecondary:"9.9.9.9",
			macAddress:"80:3f:5d:00:00:11",
			mtu: "1500"
		},
		when: "201807231122133+0800"
	}
}

*/
function gotWnsSetting(result)
{
  var resultData = window.atob(result);
  var res = JSON.parse(resultData);
  
  if(res.resCode==0)
  {
		setWantype(res.result.wanSetting.type, res.result.wanSetting)
  }
  else
  if(res.resCode==401) logout(); 

  closeLoading();
}


function finishWanSetting(result)
{
	var resultData = window.atob(result);
	var res = JSON.parse(resultData);

	if(res.resCode==0)
	{
		showLoading(label.saving);
		setTimeout(closeLoading, 120000);
	}
	else {
		if(res.resCode==401) logout();
		closeLoading();	
	} 
}

// static IP set
function saveStatic(){
	var setAttrReq = {}
	setAttrReq.type = "3";
	setAttrReq.ipAddress = $("#WanIpaddr").val();
	setAttrReq.subnetMask = $("#WanMask").val();
	setAttrReq.gateway = $("#WanGw").val();
	setAttrReq.dnsPrimary = $("#PrimDns").val();
	setAttrReq.dnsSecondary = $("#SecDns").val();		

	if(handleError(checkStaticConf(setAttrReq.ipAddress, setAttrReq.subnetMask, setAttrReq.gateway))){
		return;
	}

	if (handleError(checkNetworkDns(setAttrReq.dnsPrimary, setAttrReq.dnsSecondary))){
		return;
	}
	closeNote();
	showConfirm(label.routerReboot, function(choose){
		if (choose){

			var reqJson = JSON.stringify(setAttrReq)
			var reqStr = window.btoa(reqJson)
			try {
				if(wcloud_app_type=="ios")
						webkit.messageHandlers.setWanSetting.postMessage({callback:'finishWanSetting', req: reqStr});
				else
				{
					var jsReq = {callback:'finishWanSetting', req: setAttrReq };
					window.messageHandlers.setWanSetting(JSON.stringify(jsReq));  // android
				}
					
				showLoading(label.saving);
			} catch(error) {
				alert(errStr.invRequestFail)
			}
		}
	});
}

// DHCP set
function saveDhcp(){
	var setAttrReq = {}
	setAttrReq.type = "1"

	showConfirm(label.routerReboot, function(choose){
		if (choose){
			var reqJson = JSON.stringify(setAttrReq)
			var reqStr = window.btoa(reqJson)
			try {
				if(wcloud_app_type=="ios")
					webkit.messageHandlers.setWanSetting.postMessage({callback:'finishWanSetting', req: reqStr});
				else
				{
					var jsReq = {callback:'finishWanSetting', req: setAttrReq };
					window.messageHandlers.setWanSetting(JSON.stringify(jsReq));  // android
				}
					
				showLoading(label.saving);
			} catch(error) {
				alert(errStr.invRequestFail)
			}
		}
	});
}

// PPPoE set
function savePppoe(){
	var setAttrReq = {}
	setAttrReq.type = "2";
	setAttrReq.userName = $("#PppoeUser").val();
	setAttrReq.password = $("#PppoePwd").val();

	if (handleError(checkUserName(setAttrReq.userName, "pppoe"))){
		return;
	}

	if (handleError(checkPassWord(setAttrReq.password, "pppoe"))){
		return;
	}
	closeNote();
	showConfirm(label.routerReboot, function(choose){
		if (choose){

			var reqJson = JSON.stringify(setAttrReq)
			var reqStr = window.btoa(reqJson)
			try {
				if(wcloud_app_type=="ios")
					webkit.messageHandlers.setWanSetting.postMessage({callback:'finishWanSetting', req: reqStr});
				else
				{
					var jsReq = {callback:'finishWanSetting', req: setAttrReq };
					window.messageHandlers.setWanSetting(JSON.stringify(jsReq));  // android
				}
					
				showLoading(label.saving);
			} catch(error) {
				alert(errStr.invRequestFail)
			}
		}
	});

}

function sendConfDatas(){
		var selStr = $("#WanType").attr("data-value");
		switch(selStr){
		case WAN_TYPE_DHCP:
			saveDhcp();
			break;
		case WAN_TYPE_PPPoE:
			savePppoe();
			break;
		case WAN_TYPE_STATIC_IP:
			saveStatic();
			break;
		default:
			break;
		}
}

$("#SaveConf").click(sendConfDatas);

$(".icon-eye").click(function(){
		var val = $(this).attr("data-value");
		if (0 == val){
			$(this).attr("data-value", "1").removeClass("icon_eye_close").addClass("icon_eye_open");
			$(this).prev('input').attr("type", "text");
		}else{
			$(this).attr("data-value", "0").removeClass("icon_eye_open").addClass("icon_eye_close");
			$(this).prev('input').attr("type", "password");
		}
	}).each(function(){
		var val = $(this).attr("data-value") || 0;

		if (1 == val){
			$(this).attr("data-value", "1").removeClass("icon_eye_close").addClass("icon_eye_open");
			$(this).prev('input').attr("type", "text").addClass("text-eye");
		}else{
			$(this).attr("data-value", "0").removeClass("icon_eye_open").addClass("icon_eye_close");
			$(this).prev('input').attr("type", "password").addClass("text-eye");
		}
	});
</script>