<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<title>WAVLINK CLOUD</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="screen-orientation" content="portrait"><!-- uc强制竖屏 -->
<meta name="x5-orientation" content="portrait"><!-- QQ强制竖屏 -->
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no" />
<link rel="icon" href="/luci-static/images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/luci-static/images/favicon.ico" type="image/x-icon" />

<% if (viewid==null || viewid=="" || viewid=="v01.001") { %>
<script type="text/javascript" src="/luci-static/lib/jquery.min.js?_=<%=build_date%>"></script>
<link rel="stylesheet" type="text/css" href="/luci-static/dynaform/frame.css?_=<%=build_date%>" />
<link rel="stylesheet" type="text/css" href="/luci-static/dynaform/icon_fonts_style.css?_=<%=build_date%>" />
<link rel="stylesheet" href="/luci-static/dynaform/h5.css?_=<%=build_date%>">
<link rel="stylesheet" href="/luci-static/dynaform/h5-en-us.css?_=<%=build_date%>">
<script type="text/javascript" src="/luci-static/dynaform/error.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/lib/flexible.min.js?_=<%=build_date%>"></script>
<% } else { %> 
<script type="text/javascript" src="/luci-static/lib/jquery.min.js?_=<%=build_date%>"></script>
<link rel="stylesheet" type="text/css" href="/luci-static/<%=viewid%>/frame.css?_=<%=build_date%>" />
<link rel="stylesheet" type="text/css" href="/luci-static/<%=viewid%>/icon_fonts_style.css?_=<%=build_date%>" />
<link rel="stylesheet" href="/luci-static/<%=viewid%>/h5.css?_=<%=build_date%>">
<link rel="stylesheet" href="/luci-static/<%=viewid%>/h5-en-us.css?_=<%=build_date%>">
<script type="text/javascript" src="/luci-static/<%=viewid%>/error.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/lib/flexible.min.js?_=<%=build_date%>"></script>
<% } %> 
<!---
<script type="text/javascript" src="/luci-static/dynaform/frame.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/dynaform/md5.min.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/lib/stateman.min.js?_=20191101192256"></script>
<script type="text/javascript" src="/luci-static/lib/json.min.js?_=20191101192256"></script>
<script type="text/javascript" src="/luci-static/lib/echarts.simple.min.js?_=20191101192256"></script>

<script type="text/javascript" src="/luci-static/dynaform/frame.js"></script>
<script type="text/javascript" src="/luci-static/dynaform/frame.js?_=20191101192256"></script>
<script type="text/javascript" src="/luci-static/lib/ajax.js?_=20191101192256"></script>
<script type="text/javascript" src="/luci-static/dynaform/verify.js?_=20191101192256"></script>
<script type="text/javascript" src="/luci-static/dynaform/help.js?_=20191101192256"></script>
<script type="text/javascript" src="/luci-static/dynaform/default_feature.js?_=20191101192256"></script>
<script type="text/javascript" src="/luci-static/dynaform/feature.js?_=20191101192256"></script>
<script type="text/javascript" src="/luci-static/dynaform/cityList.js?_=20191101192256"></script>
<script type="text/javascript" src="/luci-static/lib/libs.js?_=20191101192256"></script>
-->

<script type="text/javascript">
ROUTER = {
    languageList: [
      "zh-cn",
      "en-us",
      "de-de",
      "ru-ru",
      "fr-fr",
      "es-es",
      "it-it",
      "pt-pt",
      "uk-ua",
      "zh-tw",
      "ja-jp",
      "ko-kr",
      "vi-vi",
      "id-id",
      "th-th"
    ],
    areaList : [
      "EU",
      "NA",
      "SA",
      "AS",
      "AF",
      "OA",
      "US"
    ]
  }

</script>
<% if (viewid==null || viewid=="" || viewid=="v01.001") {  %>
<script type="text/javascript" src="/luci-static/locales/<%=locale%>.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/dynaform/util.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/dynaform/product.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/dynaform/h5.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/dynaform/vendor.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/dynaform/verify.js?_=<%=build_date%>"></script>
<style type="text/css">#Content{top:0;bottom:1.333rem}ul.menu{overflow: hidden;position:fixed;bottom:0;width:100%;height:1.333rem;border-top:1px solid #e9e9e9;box-sizing:border-box;background-color:#f8f8f8;font-size:0}li.menu-item{color:#676767;width:24%;display:inline-block;text-align:center}a.active li.menu-item{color:#3d65a3}li.menu-item p{font-size:.278rem}li.menu-item i.icon{font-size:.8rem}</style>
<% } else { %> 
<script type="text/javascript" src="/luci-static/locales_<%=viewid%>/<%=locale%>.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/<%=viewid%>/util.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/<%=viewid%>/product.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/<%=viewid%>/h5.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/<%=viewid%>/vendor.js?_=<%=build_date%>"></script>
<script type="text/javascript" src="/luci-static/<%=viewid%>/verify.js?_=<%=build_date%>"></script>
<style type="text/css">#Content{top:0;bottom:1.333rem}ul.menu{overflow: hidden;position:fixed;bottom:0;width:100%;height:1.333rem;border-top:1px solid #e9e9e9;box-sizing:border-box;background-color:#f8f8f8;font-size:0}li.menu-item{color:#676767;width:24%;display:inline-block;text-align:center}a.active li.menu-item{color:#3d65a3}li.menu-item p{font-size:.278rem}li.menu-item i.icon{font-size:.8rem}</style>
<% } %> 
  