<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<% include ../layout/head.html %>
</head>
<body oncontextmenu="return false;" onload="pageLoad()">
	<div id="Con">
		<%- body %>
	</div>
	<% if (viewid==null || viewid=="" || viewid=="v01.001") { %>
		<% include ../menu.html %>
	<% } else if (viewid=="v02.001") { %> 
		<% include ../v02.001/menu.html %>
	<% } else if (viewid=="v02.002") { %> 
		<% include ../v02.002/menu.html %>
	<% } else if (viewid=="v03.001") { %> 
		<% include ../v03.001/menu.html %>
	<% } else if (viewid=="v04.001") { %> 
		<% include ../v04.001/menu.html %>
	<% } else if (viewid=="v02.01.001") { %> 
		<% include ../v02.01.001/menu.html %>
	<% } else if (viewid=="v02.03.001") { %> 
		<% include ../v02.03.001/menu.html %>
	<% } else { %> 
		<% include ../menu.html %>
	<% } %> 
		<% include ../layout/footer.html %>
</body>
</html>
